<!DOCTYPE html>
<html lang="en" ng-app="demo">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>河南郑州印刷厂_彩色印刷_名片单页海报印刷-河南盛大彩色印刷有限公司</title>
		<meta name="keywords" content="盛大印刷，郑州印刷厂，盛大彩印，数码印刷，不干胶印刷，郑州名片印刷，盛大印刷厂，海报印刷，单页印刷，河南印刷厂，名片印刷">
		<meta name="description" content="河南盛大彩色印刷有限公司是河南地区知名的印刷服务企业，成立于2000年。主营商务印刷（DM单页、海报、画册、手提袋等）、拼版名片、不干胶标签、骑马钉、覆膜、数码彩印为主要业务范围，面向广大广告公司、设计公司、文印店、图文店等业内同行提供服务。">
		<!--网页导航图标-->
		<link rel="shortcut icon" type="image/x-icon" href="css/shengda.ico" />
		<!--<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">-->		
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="select/bootstrap.css" />
		<link rel="stylesheet" href="css/orderPrice.css" />
		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="js/user.js"></script>
		<link rel="stylesheet" href="select/select.css">
		<!-- themes -->
		<link rel="stylesheet" href="select/Style.css" />
		<script src="select/angular.js"></script>
		<script src="select/angular-sanitize.js"></script>
		<!-- ui-select files -->
		<script src="select/select.js"></script>
		<script src="select/demo.js"></script>
	</head>

	<body>
		<!--头部-->
		<div class="top">
			<!--顶部固定栏目-->
			<div class="fixed">
				<div class="comWidth">
					<!--登录前的状态-->
					<!--<div class="fixLift">
					<span>您好，欢迎来到盛大印刷！</span><span>请</span><a href="javaScript:void(0);">[登录]</a><a href="javaScript:void(0);">[免费注册]</a>
				</div>-->
					<!--登录后的状态-->
					<div class="fixLift">
						<span>欢迎您，158****0573</span><a href="javaScript:void(0);">会员中心</a><span> |</span><a href="javaScript:void(0);">退出登录</a>
					</div>
					<div class="fixRight">
						<span>当前定位：</span><span class="loca"></span><span>郑州</span><a href="javaScript:void(0);">切换至成都</a>
					</div>
				</div>
			</div>
			<!--logo顶级导航-->
			<div class="nav">
				<div class="comWidth">
					<div class="logo">
						<a href="index.html">
							<img src="img/index/logo.png" />
						</a>
					</div>
					<!--一级导航-->
					<div class="navFirst">
						<a href="javaScript:void(0);">首页</a>
						<label> &gt;</label>
						<a href="javaScript:void(0);">关于我们</a>
						<label> &gt;</label>
						<a href="javaScript:void(0);" class="active">新品推荐</a>
					</div>
					<!--电话显示-->
					<div class="phone">
						<span class="tel"></span><span>400-807-6999</span>
						<span class="user"></span>
						<!--会员未登录显示-->
						<!--<a href="javaScript:void(0);">会员登录</a><span> |</span><a href="javaScript:void(0);">会员注册</a>-->
						<!--会员登录显示-->
						<a href="javaScript:void(0);">会员中心</a><span> |</span><a href="javaScript:void(0);">我的订单</a>
					</div>
				</div>
			</div>

		</div>
		<!--产品页面位置-->
		<div class="postionProduct">
			<div class="comWidth">
				<!--页面位置-->
				<div class="ppostion">
					<span>当前位置：</span><a href="index.html">首页</a>&gt;<a href="news.html">报价下单</a>
				</div>
				<!--余额显示-->
				<div class="money">
					<span>我的余额：<i>1080.90</i>元</span><a href="javaScript:void(0);">充值</a>
				</div>

			</div>

		</div>

		<!--主要内容-->
		<div class="bodyarea comWidth">
			<!--浮动窗口-->
			<div class="floatdiv" id="floatt">
				<!--电话-->
				<div class="ftel">
					<div class="ptel"></div>
					<p>服务热线</p>
					<div class="fdtel">
						<span>400-807-6999</span>
					</div>
				</div>
				<!--qq-->
				<div class="fqq">
					<div class="pqq"></div>
					<a class="addstyleA" href="javaScript:void(0);">企业QQ</a>
					<div class="fdqq">
						<span>点击选择客服</span>
						<p> <i> 河南、河北：</i>
							<a href="http://wpa.b.qq.com/cgi/wpa.php?ln=2&uin=800002736&site=qq&menu=yes" target="_blank"> <i><img src="img/index/qq.png" /></i>800002736</a>
						</p>
						<p><i> 山东、江苏：</i> <a href="javaScript:void(0);"><i><img src="img/index/qq.png" /></i>800131777</a></p>
						<p><i>北京：</i><a href="javaScript:void(0);"><i><img src="img/index/qq.png" /></i>800003385</a></p>
						<p><i>四川、重庆：</i><a href="javaScript:void(0);"><i><img src="img/index/qq.png" /></i>800088083</a></p>
						<p><i>除以上省份外的区域：</i><a href="javaScript:void(0);"><i><img src="img/index/qq.png" /></i>800188057</a></p>
					</div>

				</div>
				<!--二维码-->
				<div class="fwChat">
					<div class="pWchat"></div>
					<p>二维码</p>
					<div class="fdWChat">
						<img src="img/index/wechat.png" />
					</div>
				</div>

			</div>
			<!--新闻内容区域-->
			<div class="newsArea">
				<!--左边列表-->
				<div class="newsList">
					<div class="newsTitle">
						<span><img src="img/product/good.png"/></span>
						<span>新品推荐</span>
					</div>
					<ul>
						<div class="listModel">
							<li><a href="javaScript:void(0);"><span></span>名片 <b>&gt;</b></a></li>
							<div class="addlistproduct">
								<a href="javaScript:void(0);"><span>条幅1</span><span> </span></a>
								<a href="javaScript:void(0);"><span>蛋糕盒</span><span><img src="img/product/hot.png"/></span> </a>

							</div>
						</div>
						<div class="listModel">
							<li><a href="javaScript:void(0);"><span></span>不干胶<b>&gt;</b></a> </li>
							<div class="addlistproduct">
								<a href="javaScript:void(0);"><span>条幅2</span><span></span></a>
								<a href="javaScript:void(0);"><span>蛋糕盒</span><span><img src="img/product/hot.png"/></span> </a>

							</div>
						</div>
						<div class="listModel">
							<li><a href="javaScript:void(0);"><span></span>画册<b>&gt;</b></a> </li>
							<div class="addlistproduct">
								<a href="javaScript:void(0);"><span>条幅3</span><span></span></a>
								<a href="javaScript:void(0);"><span>蛋糕盒</span><span><img src="img/product/hot.png"/></span> </a>

							</div>
						</div>
						<div class="listModel">
							<li><a href="javaScript:void(0);"><span></span>名片 <b>&gt;</b></a></li>
							<div class="addlistproduct">
								<a href="javaScript:void(0);"><span>条幅4</span><span> </span></a>
								<a href="javaScript:void(0);"><span>蛋糕盒</span><span><img src="img/product/hot.png"/></span> </a>

							</div>
						</div>
						<div class="listModel">
							<li><a href="javaScript:void(0);"><span></span>不干胶<b>&gt;</b></a> </li>
							<div class="addlistproduct">
								<a href="javaScript:void(0);"><span>条幅5</span><span></span></a>
								<a href="javaScript:void(0);"><span>蛋糕盒</span><span><img src="img/product/hot.png"/></span> </a>

							</div>
						</div>
						<div class="listModel">
							<li><a href="javaScript:void(0);"><span></span>画册<b>&gt;</b></a> </li>
							<div class="addlistproduct">
								<a href="javaScript:void(0);"><span>条幅6</span><span></span></a>
								<a href="javaScript:void(0);"><span>蛋糕盒</span><span><img src="img/product/hot.png"/></span> </a>

							</div>
						</div>
						<div class="listModel">
							<li><a href="javaScript:void(0);"><span></span>名片 <b>&gt;</b></a></li>
							<div class="addlistproduct">
								<a href="javaScript:void(0);"><span>条幅7</span><span> </span></a>
								<a href="javaScript:void(0);"><span>蛋糕盒</span><span><img src="img/product/hot.png"/></span> </a>

							</div>
						</div>
						<div class="listModel">
							<li><a href="javaScript:void(0);"><span></span>不干胶<b>&gt;</b></a> </li>
							<div class="addlistproduct">
								<a href="javaScript:void(0);"><span>条幅8</span><span></span></a>
								<a href="javaScript:void(0);"><span>蛋糕盒</span><span><img src="img/product/hot.png"/></span> </a>

							</div>
						</div>
						<div class="listModel">
							<li><a href="javaScript:void(0);"><span></span>画册<b>&gt;</b></a> </li>
							<div class="addlistproduct">
								<a href="javaScript:void(0);"><span>条幅9</span><span></span></a>
								<a href="javaScript:void(0);"><span>蛋糕盒</span><span><img src="img/product/hot.png"/></span> </a>

							</div>
						</div>

						<!--<li><a href="javaScript:void(0);"><span></span>宣传单<b>&gt;</b></a> </li>
						<li><a href="javaScript:void(0);"><span></span>PVC卡<b>&gt;</b></a> </li>
						<li><a href="javaScript:void(0);"><span></span>数码印刷<b>&gt;</b></a> </li>
						<li><a href="javaScript:void(0);"><span></span>喷绘写真<b>&gt;</b></a> </li>
						<li><a href="javaScript:void(0);"><span></span>无碳联单<b>&gt;</b></a> </li>
						<li><a href="javaScript:void(0);"><span></span>更多产品<b>&gt;</b></a> </li>-->
					</ul>

				</div>
				<!--右侧内容-->
				<div class="listproDetail">
					<!--产品详情页-->
					<div class="breadcrumba">
						<div class="readtitle">
							<span></span>
							<h4>手提袋报价</h4>
						</div>
					</div>
					<!--报价类别-->
					<div class="orderType">
						<ul class="messClass" id="orderPrice">
							<li class="active" onclick="javascript:test('orderPrice',2,1);">定制款手提袋</li>
							<li onclick="javascript:test('orderPrice',2,2);">通用款手提袋</li>
						</ul>
						<!--订单报价属性-->
						<div id="orderPrice_1" style="display:block;">
							<div class="orderType">
								<h3>基本参数</h3>
								<div class="ng-cloak" ng-controller="DemoCtrl as ctrl">
									<form>
										<fieldset>
											<div class="form-group">
												<div class="col-sm-6">
													<ui-select ng-model="ctrl.person.selected" theme="bootstrap">
														<ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
														<ui-select-choices repeat="item in ctrl.people | filter: $select.search">
															<div ng-bind-html="item.name | highlight: $select.search"></div>
														</ui-select-choices>
													</ui-select>
												</div>
											</div>
										</fieldset>
									</form>
								</div>

								<table class="table_frame">
									<tbody>
										<tr>
											<td>
												<table class="table_content selectBig">
													<th>成品尺寸：</th>
													<td>
														<!--<select id="ddl" onchange="ddl_change()">
															<option value="选择风格" selected="selected">选择风格</option>
															<option value="1">复古风</option>
															<option value="2">摇滚风</option>
															<option value="99">自定义</option>
														</select>-->
														<div class="ng-cloak" ng-controller="DemoCtrl as ctrl">
														<form>
																<fieldset>
																	<div class="form-group">
																		<div class="col-sm-6">
																			<ui-select ng-model="ctrl.person.selected" theme="bootstrap">
																				<ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
																				<ui-select-choices repeat="item in ctrl.people | filter: $select.search">
																					<div ng-bind-html="item.name | highlight: $select.search"></div>
																				</ui-select-choices>
																			</ui-select>
																		</div>
																	</div>
																</fieldset>
															</form>
														</div>
														
													</td>
													<td>(高*宽*厚)mm</td>

												</table>
												<div class="writeMes">
													<a onclick="Show('.inputArea')">210*285mm(竖版)</a>
												</div>
											</td>
											<td>
												<table class="table_content">
													<th>印刷数量：</th>
													<td>
														<div class="ng-cloak" ng-controller="DemoCtrl as ctrl">
														<form>
																<fieldset>
																	<div class="form-group">
																		<div class="col-sm-6 smallBig">
																			<ui-select ng-model="ctrl.person.selected" theme="bootstrap">
																				<ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
																				<ui-select-choices repeat="item in ctrl.people | filter: $select.search">
																					<div ng-bind-html="item.name | highlight: $select.search"></div>
																				</ui-select-choices>
																			</ui-select>
																		</div>
																	</div>
																</fieldset>
															</form>
														</div>
														
														<!--<input selected="selected" name="mytext" type="text" class="inputTT" id="sbtlInp222" value="0" size="10">-->
													</td>
												</table>
											</td>

										</tr>
										<tr>
											<td>
												<table class="table_content">
													<th>纸张：</th>
													<td>
														<select>
															<option value="选择风格" selected="selected">选择风格</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
														</select>
														<select>
															<option value="选择风格" selected="selected">选择风格</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
														</select>
														厚约33丝
													</td>
												</table>
											</td>
											<td>
												<table class="table_content">
													<th>印刷颜色：</th>
													<td>
														<select>
															<option value="选择风格" selected="selected">选择风格</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
														</select>
													</td>
													<td class="selectBig">
														<select>
															<option value="选择风格" selected="selected">选择风格</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
														</select>
													</td>
												</table>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
							<div class="orderType">
								<h3>后道设置</h3>
								<!--报价类别-->
								<!--单独添加封皮的样式-->
								<!--<ul class="messpasge" id="spciallist">
									<li id="tab-1"><a onclick="javascript:test('spciallist',3,1);">普通内页</a><a onclick="deleteTab('spciallist',1)">x</a> </li>
									<li  id="tab-2"  class="active"><a onclick="javascript:test('spciallist',3,2);">普通内页2</a><a onclick="deleteTab('spciallist',2)">x</a> </li>
									<li id="tab-3"><a   onclick="javascript:test('spciallist',3,3);"> 普通内页3</a><a onclick="deleteTab('spciallist',3)">x</a> </li>
									<li  onclick="AddPaper(this)"><span>添加封皮+</span></li>
								</ul>-->
								<!--添加2种内页的方式-->
								<ul class="messpasge" id="spciallist">
									<li class="active" onclick="javascript:test('spciallist',3,1);"><a>普通内页</a><a onclick="HideD(this)">x</a> </li>
									<li onclick="javascript:test('spciallist',3,2);"><a>普通内页2</a><a onclick="HideD(this)">x</a> </li>
									<li onclick="javascript:test('spciallist',3,3);"><a>普通内页</a><a onclick="HideD(this)">x</a> </li>
									<li id="addspan">
										<span onclick="Show('.addspan')">添加内页+</span>
										<div class="addspan" onclick="Hide('.addspan')">
											<div class="triangle v-bottom"></div>
											<p onclick="B(this)">普通内页</p>
											<p onclick="C(this)">硫酸纸内页</p>
										</div>
									</li>
								</ul>
								<div id="spciallist_1" style="display:block;">
									<!--<a class="delicon" href="###">[删除]</a>-->

									<table class="table_frame">

										<tbody>
											<tr>
												<td>
													<table class="table_content selectBig">
														<th>成品尺寸1：</th>
														<td>
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
															(高*宽*厚)mm
														</td>
													</table>
												</td>
												<td>
													<table class="table_content">
														<th>印刷数量：</th>
														<td>
															<input class="addinput" type="text" placeholder="请输入" />
														</td>
														<!--<td>
															<select name="yjjx" id="yjjx" class="selectTT" onChange="document.getElementById('sbtlInp222').value=this.options[this.selectedIndex].text">
																<option value="选择风格" selected="selected">1000</option>
																<option value="复古风">100</option>
																<option value="摇滚风">200</option>
																<option value="复古风">100</option>
																<option value="摇滚风">200</option>
																<option value="怀旧风">300</option>
																<option value="怀旧风">300</option>
															</select>
															<input selected="selected" name="mytext" type="text" class="inputTT" id="sbtlInp222" value="0" size="10">
														</td>-->
													</table>
												</td>
											</tr>
											<tr>
												<td>
													<table class="table_content">
														<th>纸张克重：</th>
														<td>
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
															<!--<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
															厚约33丝-->
														</td>
														<td>
															<input class="addinput" type="text" placeholder="请输入" />
														</td>
													</table>
												</td>
												<td>
													<table class="table_content">
														<th>印刷颜色：</th>
														<td>
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
														</td>
														<td class="selectBig">
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
														</td>
													</table>
												</td>
											</tr>

										</tbody>
									</table>
									<h5>后道工艺:</h5>
									<ul class="addlabe">
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
											</label>
										</li>
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
											</label>
										</li>
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
											</label>
										</li>
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
											</label>
										</li>
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
											</label>
										</li>
										<li>
											<a class="postProcesses" ng-click="vm.editPostProcesses(leaflet)" title="编辑后工"> &nbsp;后工&nbsp;</a>
										</li>
									</ul>

								</div>
								<div id="spciallist_2" style="display:none;">
									<!--<a class="delicon" href="###">[删除]</a>-->
									<table class="table_frame">
										<tbody>
											<tr>
												<td>
													<table class="table_content selectBig">
														<th>成品尺寸2：</th>
														<td>
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
															(高*宽*厚)mm
														</td>
													</table>
												</td>
												<td>
													<table class="table_content">
														<th>印刷数量：</th>
														<td>
															<select name="yjjx" id="yjjx" class="selectTT" onChange="document.getElementById('sbtlInp222').value=this.options[this.selectedIndex].text">
																<option value="选择风格" selected="selected">1000</option>
																<option value="复古风">100</option>
																<option value="摇滚风">200</option>
																<option value="怀旧风">300</option>
															</select>
															<input selected="selected" name="mytext" type="text" class="inputTT" id="sbtlInp222" value="0" size="10">
														</td>
													</table>
												</td>
											</tr>
											<tr>
												<td>
													<table class="table_content">
														<th>纸张克重：</th>
														<td>
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
															厚约33丝
														</td>
													</table>
												</td>
												<td>
													<table class="table_content">
														<th>印刷颜色：</th>
														<td>
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
														</td>
														<td class="selectBig">
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
														</td>
													</table>
												</td>
											</tr>

										</tbody>
									</table>

									<ul class="addlabe">
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切123
											</label>
										</li>
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切123
											</label>
										</li>
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
											</label>
										</li>
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
											</label>
										</li>
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
											</label>
										</li>
									</ul>

								</div>
								<div id="spciallist_3" style="display:none;">
									<table class="table_frame">
										<tbody>
											<tr>
												<td>
													<table class="table_content selectBig">
														<th>成品尺寸3：</th>
														<td>
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
															(高*宽*厚)mm
														</td>
													</table>
												</td>
												<td>
													<table class="table_content">
														<th>印刷数量：</th>
														<td>
															<select name="yjjx" id="yjjx" class="selectTT" onChange="document.getElementById('sbtlInp222').value=this.options[this.selectedIndex].text">
																<option value="选择风格" selected="selected">1000</option>
																<option value="复古风">100</option>
																<option value="摇滚风">200</option>
																<option value="怀旧风">300</option>
															</select>
															<input selected="selected" name="mytext" type="text" class="inputTT" id="sbtlInp222" value="0" size="10">
														</td>
													</table>
												</td>
											</tr>
											<tr>
												<td>
													<table class="table_content">
														<th>纸张克重：</th>
														<td>
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
															厚约33丝
														</td>
													</table>
												</td>
												<td>
													<table class="table_content">
														<th>印刷颜色：</th>
														<td>
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
														</td>
														<td class="selectBig">
															<select>
																<option value="选择风格" selected="selected">选择风格</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
																<option value="复古风">复古风</option>
																<option value="摇滚风">摇滚风</option>
																<option value="怀旧风">怀旧风</option>
															</select>
														</td>
													</table>
												</td>
											</tr>

										</tbody>
									</table>

									<ul class="addlabe">
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切1234
											</label>
										</li>
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切1234
											</label>
										</li>
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切4
											</label>
										</li>
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
											</label>
										</li>
										<li>
											<label for="name1">
												<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
											</label>
										</li>
									</ul>

								</div>
							</div>
							<div class="orderType">
								<h3>包装方式</h3>
								<table class="table_frame">
									<tbody>
										<tr>
											<td class="selectBig">
												<select>
													<option value="选择风格" selected="selected">手提袋专用包装</option>
													<option value="复古风">复古风</option>
													<option value="摇滚风">摇滚风</option>
													<option value="怀旧风">怀旧风</option>
												</select>
											</td>
											<td>
												<input class="addinput" type="text" placeholder="请输入" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="orderType">
								<h3>配送方式</h3>
								<table class="table_frame">
									<tbody>
										<tr>
											<td>
												<select>
													<option value="选择风格" selected="selected">选择风格1</option>
													<option value="复古风">复古风</option>
													<option value="摇滚风">摇滚风</option>
													<option value="怀旧风">怀旧风</option>
												</select>
											</td>
											<td>
												<div class="spacing"></div>
											</td>
											<td>&nbsp;目的地:&nbsp;</td>
											<td>
												<div class="info ">
													<select id="s_province" name="s_province"></select>
													<select id="s_city" name="s_city"></select>
													<select id="s_county" name="s_county"></select>
												</div>
												<script type="text/javascript" src="js/area.js"></script>
												<script type="text/javascript">
													_init_area();
													var Gid = document.getElementById;
													var showArea = function() {
														Gid('show').innerHTML = "<h3>省" + Gid('s_province').value + " - 市" +
															Gid('s_city').value + " - 县/区" +
															Gid('s_county').value + "</h3>"
													}
												</script>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="orderButton">
									<a onclick="Show('.rightPrice')">立即报价</a>
									<a href="javaScript:void(0);">立即下单</a>
								</div>

							</div>

						</div>
						<div id="orderPrice_2" style="display:none;">
							<div class="orderType">
								<h3>基本参数2</h3>
								<table class="table_frame">
									<tbody>
										<tr>
											<td>
												<table class="table_content selectBig">
													<th>成品尺寸2：</th>
													<td>
														<select>
															<option value="选择风格" selected="selected">选择风格</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
														</select>
														(高*宽*厚)mm
													</td>
												</table>
											</td>
											<td>
												<table class="table_content">
													<th>印刷数量：</th>
													<td>
														<select name="yjjx" id="yjjx" class="selectTT" onChange="document.getElementById('sbtlInp222').value=this.options[this.selectedIndex].text">
															<option value="选择风格" selected="selected">1000</option>
															<option value="复古风">100</option>
															<option value="摇滚风">200</option>
															<option value="怀旧风">300</option>
														</select>
														<input selected="selected" name="mytext" type="text" class="inputTT" id="sbtlInp222" value="0" size="10">
													</td>
												</table>
											</td>
										</tr>
										<tr>
											<td>
												<table class="table_content">
													<th>纸张克重：</th>
													<td>
														<select>
															<option value="选择风格" selected="selected">选择风格</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
														</select>
														<select>
															<option value="选择风格" selected="selected">选择风格</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
														</select>
														厚约33丝
													</td>
												</table>
											</td>
											<td>
												<table class="table_content">
													<th>印刷颜色：</th>
													<td>
														<select>
															<option value="选择风格" selected="selected">选择风格</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
														</select>
													</td>
													<td class="selectBig">
														<select>
															<option value="选择风格" selected="selected">选择风格</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
															<option value="复古风">复古风</option>
															<option value="摇滚风">摇滚风</option>
															<option value="怀旧风">怀旧风</option>
														</select>
													</td>
												</table>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
							<div class="orderType">
								<h3>后道设置</h3>
								<!--报价类别-->
								<ul class="messpasge" id="spciallist2">
									<li class="active" onclick="javascript:test('spciallist2',3,1);">定制款手提袋</li>
									<li onclick="javascript:test('spciallist2',3,2);">通用款手提袋</li>
									<li onclick="javascript:test('spciallist2',3,3);">通用款手提袋</li>
								</ul>

								<ul class="addlabe" id="spciallist2_1" style="display:block;">
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
										</label>
									</li>
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
										</label>
									</li>
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
										</label>
									</li>
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
										</label>
									</li>
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
										</label>
									</li>
								</ul>
								<ul class="addlabe" id="spciallist2_2" style="display:none;">
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切123
										</label>
									</li>
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切123
										</label>
									</li>
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
										</label>
									</li>
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
										</label>
									</li>
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
										</label>
									</li>
								</ul>
								<ul class="addlabe" id="spciallist2_3" style="display:none;">
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切1234
										</label>
									</li>
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切1234
										</label>
									</li>
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切4
										</label>
									</li>
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
										</label>
									</li>
									<li>
										<label for="name1">
											<input type="checkbox" name="vehicle" value="手袋模切" id="name1">手袋模切
										</label>
									</li>
								</ul>
							</div>
							<div class="orderType">
								<h3>包装方式</h3>
								<table class="table_frame">
									<tbody>
										<tr>
											<td class="selectBig">
												<select>
													<option value="选择风格" selected="selected">手提袋专用包装</option>
													<option value="复古风">复古风</option>
													<option value="摇滚风">摇滚风</option>
													<option value="怀旧风">怀旧风</option>
												</select>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="orderType">
								<h3>配送方式</h3>
								<table class="table_frame">
									<tbody>
										<tr>
											<td>
												<select>
													<option value="选择风格" selected="selected">选择风格1</option>
													<option value="复古风">复古风</option>
													<option value="摇滚风">摇滚风</option>
													<option value="怀旧风">怀旧风</option>
												</select>
											</td>
											<td>
												<div class="spacing"></div>
											</td>
											<td>&nbsp;目的地:&nbsp;</td>
											<td>
												<div class="info ">
													<select id="s_province" name="s_province"></select>
													<select id="s_city" name="s_city"></select>
													<select id="s_county" name="s_county"></select>
												</div>
												<script type="text/javascript" src="js/area.js"></script>
												<script type="text/javascript">
													_init_area();
													var Gid = document.getElementById;
													var showArea = function() {
														Gid('show').innerHTML = "<h3>省" + Gid('s_province').value + " - 市" +
															Gid('s_city').value + " - 县/区" +
															Gid('s_county').value + "</h3>"
													}
												</script>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="orderButton">
									<a onclick="Show('.rightPrice')">立即报价</a>
									<a href="javaScript:void(0);">立即下单</a>
								</div>

							</div>

						</div>

					</div>

				</div>

			</div>
		</div>
		<!--<script type="text/javascript" src="js/jquery.select.js"></script>-->
		<!--底部-->
		<div class="foot">
			<div class="footer">
				<div class="comWidth">
					<dl>
						<dt>关于我们</dt>
						<dd> <a href="javaScript:void(0);">公司简介</a> </dd>
						<dd><a href="javaScript:void(0);"> 联系我们</a></dd>
						<dd><a href="javaScript:void(0);">加入我们</a></dd>
						<dd><a href="javaScript:void(0);">新闻资讯</a></dd>
					</dl>
					<dl>
						<dt>物流配送</dt>
						<dd><a href="javaScript:void(0);">配送范围</a></dd>
					</dl>
					<dl>
						<dt>帮助中心</dt>
						<dd><a href="javaScript:void(0);">常见问题</a></dd>
						<dd><a href="javaScript:void(0);">客户留言</a></dd>
						<dd><a href="javaScript:void(0);">服务支持</a></dd>
					</dl>
					<div class="footer1">
						<span>企业ＱＱ</span>
						<p>河南、河北：<a href="javaScript:void(0);"> 800002736</a> </p>
						<p>山东、江苏：<a href="javaScript:void(0);"> 800131777</a></p>
						<p>北京：<a href="javaScript:void(0);"> 800003385</a></p>
						<p>四川、重庆：<a href="javaScript:void(0);"> 800088083</a></p>
						<p>除以上省份外的区域：<a href="javaScript:void(0);"> 800188057</a></p>
					</div>
					<div class="footer2">
						<img src="img/index/wechat.png" />
						<div class="name">
							<h3>盛大印刷</h3>
							<span>全国服务热线 : </span>
							<div class="tephone">400-807-6999</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer3">
				<p><a href="javaScript:void(0);"> 关于我们</a> - <a href="javaScript:void(0);">联系我们</a> - <a href="javaScript:void(0);">商务合作</a> - <a href="javaScript:void(0);"> 版权声明</a> - <a href="javaScript:void(0);">服务协议</a> - <a href="javaScript:void(0);">下单注意事项</a>					- <a href="javaScript:void(0);">网站地图</a>
					<br /> Copyright © 2016 - 2020 <a href="javaScript:void(0);">郑州盛大彩色印刷有限公司</a> 版权所有 备案号：豫ICP备15032432号-1</p>
			</div>
		</div>
		<!--弹出框自定义-->
		<div class="inputArea">
			<div class="inputAreaDetail">
				<div class="titlePrice">
					<h3>设置自定义尺寸：</h3>
					<a onclick="Hide('.inputArea')"> <img src="img/product/close.png" /></a>
				</div>
				<ul class="makeNum">
					<li>
						<label>宽：</label>
						<input type="text" />mm
					</li>
					<li>
						<label>高：</label>
						<input type="text" />mm
					</li>

				</ul>
				<div class="totlePrice">
					<a onclick="HideMade('.inputArea')">提交</a>
				</div>

			</div>

		</div>

		<!--弹出框立即报价-->
		<div class="rightPriceD">
			<div class="priceArea">
				<div class="titlePrice">
					<h3>报价详情</h3>
					<a onclick="Hide('.rightPrice')"> <img src="img/product/close.png" /></a>
				</div>
				<!--报价详情表单-->
				<table class="tb-void tb-top">
					<colgroup>
						<col width="270">
							<col width="210">
								<col width="270">

					</colgroup>
					<thead>
						<tr>
							<th>成品尺寸（宽*高）</th>
							<th>印刷数量</th>
							<th>装订方式</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>大16开（210*285）</td>
							<td>5000</td>
							<td>2.0mm厚纸板精装</td>
						</tr>
						<tr>
							<table>
								<colgroup>
									<col width="150">
										<col width="150">
											<col width="150">
												<col width="150">
													<col width="150">
								</colgroup>
								<thead>
									<tr>
										<th>部件名称</th>
										<th>P数/尺寸</th>
										<th>印刷颜色</th>
										<th>印刷纸张</th>
										<th>后道工艺</th>

									</tr>
								</thead>
								<tbody class="prDetail">
									<tr>
										<td>精装封面</td>
										<td>4p</td>
										<td>单面四色</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>

									</tr>
									<tr>
										<td>前环衬</td>
										<td>4p</td>
										<td>单面四色</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>

									</tr>
									<tr>
										<td>后环衬</td>
										<td>4p</td>
										<td>单面四色</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>

									</tr>
									<tr>
										<td>内页</td>
										<td>4p</td>
										<td>单面四色</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>

									</tr>
									<tr>
										<td>包装方式</td>
										<td>4p</td>
										<td>单面四色</td>
										<td>157g特级铜版</td>
										<td>单面哑膜单面哑膜</td>

									</tr>
								</tbody>
							</table>
						</tr>
					</tbody>
				</table>
				<div class="totlePrice">
					<span>印刷费：<i>¥10000</i></span><span>运费：<i>¥10000</i></span><span>盛大会员价：<i>¥10000</i></span>
					<tr></tr>
				</div>
				<div class="totlePrice">
					<a onclick="Hide('.rightPrice')">立即购买</a>
				</div>
			</div>

		</div>
		<!--弹出框单页立即报价-->
		<div class="rightPrice">
			<div class="priceArea">
				<div class="titlePrice">
					<h3>报价详情</h3>
					<a onclick="Hide('.rightPrice')"> <img src="img/product/close.png" /></a>
				</div>
				<!--报价详情表单-->
				<table class="tb-void tb-top">
					<colgroup>
						<col width="270">
							<col width="210">
								<col width="270">

					</colgroup>
					<thead>
						<tr>
							<th>成品尺寸（宽*高）</th>
							<th>印刷数量</th>
							<th>装订方式</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>大16开（210*285）</td>
							<td>5000</td>
							<td>2.0mm厚纸板精装</td>
						</tr>
						<tr>
							<table>
								<colgroup>
									<col width="96">
										<col width="66">
											<col width="108">
												<col width="120">
													<col width="120">
														<col width="120">
															<col width="120">
								</colgroup>
								<thead>
									<tr>
										<th>部件名称</th>
										<th>P数/尺寸</th>
										<th>印刷颜色</th>
										<th>印刷纸张</th>
										<th>后道工艺</th>
										<th>印刷纸张</th>
										<th>后道工艺</th>
									</tr>
								</thead>
								<tbody class="prDetail">
									<tr>
										<td>精装封面</td>
										<td>4p</td>
										<td>单面四色</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>
									</tr>
									<tr>
										<td>前环衬</td>
										<td>4p</td>
										<td>单面四色</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>
									</tr>
									<tr>
										<td>后环衬</td>
										<td>4p</td>
										<td>单面四色</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>
									</tr>
									<tr>
										<td>内页</td>
										<td>4p</td>
										<td>单面四色</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>
									</tr>
									<tr>
										<td>包装方式</td>
										<td>4p</td>
										<td>单面四色</td>
										<td>157g特级铜版</td>
										<td>单面哑膜单面哑膜</td>
										<td>157g特级铜版</td>
										<td>单面哑膜</td>
									</tr>
								</tbody>
							</table>
						</tr>
					</tbody>
				</table>
				<div class="totlePrice">
					<span>印刷费：<i>¥10000</i></span><span>运费：<i>¥10000</i></span><span>盛大会员价：<i>¥10000</i></span>
					<tr></tr>
				</div>
				<div class="totlePrice">
					<a onclick="Hide('.rightPrice')">立即购买</a>
				</div>
			</div>

		</div>

	</body>

</html>