<!DOCTYPE html>
<html>

	<meta charset="utf-8">
	<title>河南郑州印刷厂_彩色印刷_名片单页海报印刷-河南盛大彩色印刷有限公司</title>
	<meta name="keywords" content="盛大印刷，郑州印刷厂，盛大彩印，数码印刷，不干胶印刷，郑州名片印刷，盛大印刷厂，海报印刷，单页印刷，河南印刷厂，名片印刷">
	<meta name="description" content="河南盛大彩色印刷有限公司是河南地区知名的印刷服务企业，成立于2000年。主营商务印刷（DM单页、海报、画册、手提袋等）、拼版名片、不干胶标签、骑马钉、覆膜、数码彩印为主要业务范围，面向广大广告公司、设计公司、文印店、图文店等业内同行提供服务。">
	<!--网页导航图标-->
	<link rel="shortcut icon" type="image/x-icon" href="../css/dacui.ico" />
	<link rel="stylesheet" href="../css/global.css" />
	<link rel="stylesheet" href="../css/common.css" />
	<link rel="stylesheet" href="../css/cart.css" />

	</head>

	<body>
		<!--头部-->
		<div class="top">
			<div id="app0">
				<div class="topleft">
					<a href="index.html">
						<img src="../img/logo.png" alt="盛大印刷logo" />
					</a>
					<!--栏目列表-->
					<div class="topitem">

						<template>
							<el-button>首页</el-button>
							<el-popover placement="bottom" title="" width="930" trigger="click">
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">海报招贴</a>
									<a href="###"> 产品标签</a>
									<a href="###">刮刮卡</a>
									<a href="###">楼层贴</a>
									<a href="###">光盘贴</a>
									<a href="###">特殊标签不干胶</a>
									<a href="###"> 彩色不干胶</a>

								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">台历 </a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">台历 </a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
								</div>

								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">台历 </a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>

								</div>

								<el-button slot="reference">产品展示</a>
							</el-popover>

							<el-popover placement="bottom" title="" width="470" trigger="click">
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">帮助</a>
									</div>
									<a href="###">常见问题</a>
									<a href="###">物流配送</a>
									<a href="###">下单注意事项</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">支持</a>
									</div>
									<a href="###">下载中心</a>
								</div>
								<el-button slot="reference">帮助与支持</a>
							</el-popover>

						</template>

					</div>

				</div>
				<!--右侧的登录与注册-->
				<div class="topright" style="display: none;">
					<a href="###">登录</a> <span>|</span>
					<a href="###">注册</a>
				</div>
				<div class="topright">
					<a href="###">我的订单</a>
					<a href="###">Design</a>
					<a href="###">退出</a>
				</div>

			</div>
		</div>
		<div class="peopleCenterArea">
			<!--购物车-->
			<div class="carAreabody">
				<div class="cartitle">
					<h4>填写并确认订单信息</h4>
				</div>
				<!--收货人信息-->
				<div class="peopleMessage">
					<h5>收货人信息</h5>
					<!--已有收货信息-->
					<div class="haveMeaasge active" id="app" style="display: none;">
						<ul>
							<li>

								<el-input size="small" class="nameinput" placeholder="联系人" v-model="input10" clearable></el-input>
								<el-input size="small" placeholder="联系电话" v-model="input10" clearable></el-input>

								<el-cascader :options="options" @active-item-change="handleItemChange" :props="props" size="small" class="addinput" placeholder="省市区"></el-cascader>

								<el-input size="small" placeholder="详细地址" v-model="input10" class="addinput" clearable></el-input>

							</li>

							<li>
								<span>如果您的收货地址不是以上地址，请选择 </span><span><input type="checkbox" checked />发快递 </span>
							</li>
							<li>

								<el-select size="small" v-model="value" placeholder="请选择">
									<el-option v-for="item in options1" :key="item.value" :label="item.label" :value="item.value">
									</el-option>
								</el-select>

							</li>
						</ul>
					</div>
					<div class="haveMeaasge">
						<ul>
							<li>
								<div class="nameactive">
									<span>张月月华</span>
								</div>
								<span>17839908037 </span><span> 河南省  </span><span>郑州市金水区</span><span>金水区南阳路111号xxx小区</span>
							</li>

							<li>
								<span>如果您的收货地址不是以上地址，请选择 </span><span><input type="checkbox" />发快递 </span>
							</li>
						</ul>
					</div>

				</div>
				<!--确认订单-->
				<div class="orderMessage">
					<h5>确认订单信息</h5>
					<table class="cartable">
						<colgroup>
							<col width="400" />
							<col width="290" />
							<col width="150" />
							<col width="150" />
							<col width="150" />
						</colgroup>
						<tr>
							<th>印品名称 </th>
							<th> 规格 </th>
							<th>单价 </th>
							<th> 数量 </th>
							<th> 商品金额</th>
						</tr>
						<tbody>							 
							  
							<tr>
								<td>
									<a href="###">
										<img src="../img/pro-3.png" alt="产品图片" />
									</a>									
									<a href="###" class="proname">2019年成品主题台历双面印刷可记事</a>
								</td>
								<td>
									<p>尺寸：33*33cm</p>
									<p>材质：牛皮纸</p>
									<p>材质：33*33cm</p>
								</td>
								<td>
									￥66
								</td>
								<td>7个</td>
								<td>
									<i>￥777777</i>
								</td>

							</tr> 
							  
						</tbody>
					</table>

				</div>
				<!--合计金额-->
				<div class="totalMoney">
					<span>合计：<i>￥50</i></span>
				</div>
				<!--carbutton-->
				<div class="carbutton">
					<a class="first-child" href="orderSuccess.html">提交订单</a>
					<a href="car.html">返回购物车</a>
				</div>

			</div>

		</div>

		<!--底部-->
		<div class="foot">
			<div class="footer">
				<div class="appfoot" id="appfoot">
					<dl>
						<dt>关于我们</dt>
						<dd>
							<a>公司简介</a>
						</dd>
						<dd>
							<a>联系我们</a>
						</dd>
						<dd>
							<a href="###">加入我们</a>
						</dd>
						<dd>
							<a>新闻公告</a>
						</dd>
					</dl>
					<dl>
						<dt>帮助与支持</dt>
						<dd>
							<a>常见问题</a>
						</dd>
						<dd>
							<a>下载中心</a>
						</dd>
						<dd>
							<a>下单注意事项</a>
						</dd>

					</dl>
					<dl>
						<dt>官方微信（可供查单、报价）</dt>
						<dd>
							<img src="../img/weChat.png" width="90px" height="90px" />
						</dd>

					</dl>
					<dl>
						<dt>客服</dt>
						<dd>
							<a>客服QQ：800011909</a>
						</dd>
						<dd>
							<span>客服热线：</span>
						</dd>
						<dd>
							<span class="telnum">400-60-36588</span>
						</dd>
					</dl>
				</div>

			</div>
			<!--底部备案-->
			<div class="copyRight">
				Copyright © 2016 - 2020 <a href="/">河南盛大彩色印刷有限公司</a> 版权所有 <a href="http://www.miitbeian.gov.cn" target="_blank">备案号：豫ICP备15032432号</a>
			</div>

		</div>

	</body>
	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<!--<script type="text/javascript" src="../js/polyfill.js" ></script>-->
	<script>
		var Main = {
			data() {
					return {
						options1: [{
							value: '选项1',
							label: '黄金糕'
						}, {
							value: '选项2',
							label: '双皮奶'
						}, {
							value: '选项3',
							label: '蚵仔煎'
						}],
						value: '',
						input10: '',
						options: [{
							label: '江苏',
							cities: []
						}, {
							label: '浙江',
							cities: []
						}],
						props: {
							value: 'label',
							children: 'cities'
						}
					};
				},
				methods: {
					handleItemChange(val) {
						
						console.log('active item:', val);
						setTimeout(_ => {
							if (val.indexOf('江苏') > -1 && !this.options[0].cities.length) {
								this.options[0].cities = [{
									label: '南京'
								}];
							} else if (val.indexOf('浙江') > -1 && !this.options[1].cities.length) {
								this.options[1].cities = [{
									label: '杭州'
								}];
							}
						}, 300);
					}
				}
		};
		var Ctor = Vue.extend(Main)
		new Ctor().$mount('#app')
	</script>

</html>