@charset "utf-8";

* {
	margin:0;
	padding:0;
	list-style-type:none;
}
a, img {
	border:0;
}
body {
}
/* zoombox */
.zoombox {
	width:330px;
	margin:5px auto;
}
.zoompic {
	/*border:solid 1px #dfdfdf;*/
	width:330px;
	height:360px;
	background:url(../images/loading.gif) no-repeat 50% 50%;
	position: relative;
}
/*浮动框*/
.zoompic .detail_float{
	display: none;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.4);
	cursor: move;
}
/*大图样式*/
.zoompic .detail_bigpic{
	display: none;
	width: 330px;
	height: 345px;
	position: absolute;
	left: 336px;
	top: -6px;
	background: white;
	z-index: 10;
	overflow: hidden;
}
.zoompic .detail_bigpic img{
	position: absolute;
	left: 0;
	top: 0;
}
.sliderbox {
	height:65px;
	overflow:hidden;
}
.sliderbox .slider {
	float:left;
	height:65px;
	width:330px;
	position:relative;
	overflow:hidden;
	display:inline;
}
.sliderbox .slider ul {
	margin: 0;
	width: 335px;
	overflow: hidden;
}
.sliderbox .slider li {
	float:left;
	width:60px;
	height:65px;
	text-align:center;
	margin-right: 7px;
}

.sliderbox .slider li img {
	width:60px;
	height:64px;
	border:solid 1px #fff;
}

.sliderbox .slider li.active img {
	border-color: #000;
}
