a {
    cursor: pointer;
    text-decoration: none;
}
.loginbody, .finishArea {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    font: 28px/80px "微软雅黑";
}
.loginButton {
    display: block;
    margin-bottom: 100px;
    width: 500px;
    height: 62px;
    background: #fdd000;
    text-align: center;
    color: #000000;
    font: 30px/62px "微软雅黑";
}
.finishArea {
    text-align: center;
    font: 24px/30px "微软雅黑";
    margin-top: 90px;
}
.logoimg{
	width: 252px;
	height: 68px;
	margin: 150px auto;
}
.jump{
	color:red;
}
.jump span{color: #FF0000;}
