<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>河南郑州印刷厂_彩色印刷_名片单页海报印刷-河南盛大彩色印刷有限公司</title>
		<meta name="keywords" content="盛大印刷，郑州印刷厂，盛大彩印，数码印刷，不干胶印刷，郑州名片印刷，盛大印刷厂，海报印刷，单页印刷，河南印刷厂，名片印刷">
		<meta name="description" content="河南盛大彩色印刷有限公司是河南地区知名的印刷服务企业，成立于2000年。主营商务印刷（DM单页、海报、画册、手提袋等）、拼版名片、不干胶标签、骑马钉、覆膜、数码彩印为主要业务范围，面向广大广告公司、设计公司、文印店、图文店等业内同行提供服务。">
		<!--网页导航图标-->
		<link rel="shortcut icon" type="image/x-icon" href="../css/dacui.ico" />
		<link rel="stylesheet" href="../css/global.css" />	
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/people.css" />
	</head>

	<body>
		<!--头部-->
		<div class="top">
			<div id="app0">
				<div class="topleft">
					<a href="###">
						<img src="../img/logo.png" alt="盛大印刷logo" />
					</a>
					<!--栏目列表-->
					<div class="topitem">

						<template>
							<el-button>首页</el-button>
							<el-popover placement="bottom" title="" width="930" trigger="hover">
								<div class="prolist">
									<div class="prolistTitle">
										<el-button type="text">名片</el-button>
									</div>
									<el-button type="text">普通名片</el-button>
									<el-button type="text">精品纸名片</el-button>
									<el-button type="text">精工名片</el-button>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<el-button type="text">名片</el-button>
									</div>
									<el-button type="text">海报招贴</el-button>
									<el-button type="text"> 产品标签</el-button>
									<el-button type="text">刮刮卡</el-button>
									<el-button type="text">楼层贴</el-button>
									<el-button type="text">光盘贴</el-button>
									<el-button type="text">特殊标签不干胶</el-button>
									<el-button type="text"> 彩色不干胶</el-button>

								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<el-button type="text">名片</el-button>
									</div>
									<el-button type="text">普通名片</el-button>
									<el-button type="text">精品纸名片</el-button>
									<el-button type="text">精工名片</el-button>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<el-button type="text">名片</el-button>
									</div>
									<el-button type="text">普通名片</el-button>
									<el-button type="text">精品纸名片</el-button>
									<el-button type="text">精工名片</el-button>
									<el-button type="text">普通名片</el-button>
									<el-button type="text">精品纸名片</el-button>
									<el-button type="text">精工名片</el-button>
									<el-button type="text">普通名片</el-button>
									<el-button type="text">精品纸名片</el-button>
									<el-button type="text">精工名片</el-button>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<el-button type="text">名片</el-button>
									</div>
									<el-button type="text">台历 </el-button>
									<el-button type="text">挂历</el-button>
									<el-button type="text"> 红包</el-button>
									<el-button type="text">挂历</el-button>
									<el-button type="text"> 红包</el-button>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<el-button type="text">名片</el-button>
									</div>
									<el-button type="text">台历 </el-button>
									<el-button type="text">挂历</el-button>
									<el-button type="text"> 红包</el-button>
									<el-button type="text">挂历</el-button>
									<el-button type="text"> 红包</el-button>
								</div>

								<div class="prolist">
									<div class="prolistTitle">
										<el-button type="text">名片</el-button>
									</div>
									<el-button type="text">台历 </el-button>
									<el-button type="text">挂历</el-button>
									<el-button type="text"> 红包</el-button>
									<el-button type="text">挂历</el-button>
									<el-button type="text"> 红包</el-button>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<el-button type="text">名片</el-button>
									</div>
									<el-button type="text">普通名片</el-button>
									<el-button type="text">精品纸名片</el-button>
									<el-button type="text">精工名片</el-button>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<el-button type="text">名片</el-button>
									</div>

								</div>

								<el-button slot="reference">产品展示</el-button>
							</el-popover>

							<el-popover placement="bottom" title="" width="470" trigger="hover">
								<div class="prolist">
									<div class="prolistTitle">
										<el-button type="text">帮助</el-button>
									</div>
									<el-button type="text">常见问题</el-button>
									<el-button type="text">物流配送</el-button>
									<el-button type="text">下单注意事项</el-button>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<el-button type="text">支持</el-button>
									</div>
									<el-button type="text">下载中心</el-button>
								</div>
								<el-button slot="reference">帮助与支持</el-button>
							</el-popover>

							<el-button>新品推荐</el-button>
						</template>

					</div>

				</div>
				<!--右侧的登录与注册-->
				<div class="topright" style="display: none;">
					<el-button type="text">登录</el-button> <span>|</span>
					<el-button type="text">注册</el-button>
				</div>
				<div class="topright">
					<el-button type="text">我的订单</el-button>
					<el-button type="text">Design</el-button>
					<el-button type="text">退出</el-button>
				</div>

			</div>
		</div>
		<div class="commonCenterArea">
			<!--页面导航-->
			<div class="appproduct" id="appproduct">
				<el-breadcrumb separator-class="el-icon-arrow-right">
					<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
					<el-breadcrumb-item>客户中心</el-breadcrumb-item>
				
				</el-breadcrumb>
			</div>
			<!--客户中心-->
			<div class="commonCenter">
				<div class="centerLeft">
					<div class="appcenter" id="appcenter">						
						<ul>							
							<li>我的资料</li>
							<li class="active">密码修改</li>
						</ul>
					</div>
				</div>
				<!--内容区域-->
				<div class="centerRight">
					<div class="addh4line">
						<h4>密码修改</h4>
					</div>					
					<div class="tips">
						<span>温馨提示:长度至少6位字符，支持数字、大小写字母和._-特殊字符。</span>
					</div>
					<div class="passWord" id="passWord">
						<el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="100px" class="demo-ruleForm">
							<el-form-item label="原密码" prop="pass0">
								<el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
							</el-form-item>
							<el-form-item label="新密码" prop="pass">
								<el-input type="password" v-model="ruleForm2.pass" autocomplete="off"></el-input>
							</el-form-item>
							<el-form-item label="确认密码" prop="checkPass">
								<el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off"></el-input>
							</el-form-item>							
							<el-form-item>
								<el-button type="primary" @click="submitForm('ruleForm2')">修改</el-button>
								<!--<el-button @click="resetForm('ruleForm2')">重置</el-button>-->
							</el-form-item>
						</el-form>
					</div>

				</div>
			</div>

		</div>

		<!--底部-->
		<div class="foot">
			<div class="footer">
				<div class="appfoot" id="appfoot">
					<dl>
						<dt>关于我们</dt>
						<dd>
							<a>公司简介</a>
						</dd>
						<dd>
							<a>联系我们</a>
						</dd>
						<dd>
							<a href="###">加入我们</a>
						</dd>
						<dd>
							<a>新闻公告</a>
						</dd>
					</dl>
					<dl>
						<dt>帮助与支持</dt>
						<dd>
							<a>常见问题</a>
						</dd>
						<dd>
							<a>下载中心</a>
						</dd>
						<dd>
							<a>下单注意事项</a>
						</dd>

					</dl>
					<dl>
						<dt>官方微信（可供查单、报价）</dt>
						<dd>
							<img src="../img/weChat.png" width="90px" height="90px" />
						</dd>

					</dl>
					<dl>
						<dt>客服</dt>
						<dd>
							<a>客服QQ：800011909</a>
						</dd>
						<dd>
							<span>客服热线：</span>
						</dd>
						<dd>
							<span class="telnum">400-60-36588</span>
						</dd>
					</dl>
				</div>

			</div>
			<!--底部备案-->
			<div class="copyRight">
				Copyright © 2016 - 2020 <a href="/">河南盛大彩色印刷有限公司</a> 版权所有 <a href="http://www.miitbeian.gov.cn" target="_blank">备案号：豫ICP备15032432号</a>
			</div>

		</div>

	</body>
	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script>
		//产品区域
		new Vue().$mount('#appproduct')	
			//修改密码表单
		var Main = {
			data() {
					var checkAge = (rule, value, callback) => {
						if (!value) {
							return callback(new Error('年龄不能为空'));
						}
						setTimeout(() => {
							if (!Number.isInteger(value)) {
								callback(new Error('请输入数字值'));
							} else {
								if (value < 18) {
									callback(new Error('必须年满18岁'));
								} else {
									callback();
								}
							}
						}, 1000);
					};
					var validatePass = (rule, value, callback) => {
						if (value === '') {
							callback(new Error('请输入密码'));
						} else {
							if (this.ruleForm2.checkPass !== '') {
								this.$refs.ruleForm2.validateField('checkPass');
							}
							callback();
						}
					};
					var validatePass2 = (rule, value, callback) => {
						if (value === '') {
							callback(new Error('请再次输入密码'));
						} else if (value !== this.ruleForm2.pass) {
							callback(new Error('两次输入密码不一致!'));
						} else {
							callback();
						}
					};
					return {
						ruleForm2: {
							pass: '',
							checkPass: '',
							pass0: '',
						},
						rules2: {
							pass: [{
								validator: validatePass,
								trigger: 'blur'
							}],
							checkPass: [{
								validator: validatePass2,
								trigger: 'blur'
							}],
							age: [{
								validator: checkAge,
								trigger: 'blur'
							}]
						}
					};
				},
				methods: {
					submitForm(formName) {
							this.$refs[formName].validate((valid) => {
								if (valid) {
									alert('submit!');
								} else {
									console.log('error submit!!');
									return false;
								}
							});
						},
						resetForm(formName) {
							this.$refs[formName].resetFields();
						}
				}
		}
		var Ctor = Vue.extend(Main)
		new Ctor().$mount('#passWord')
	</script>

</html>