/<meta charset="utf-8">
<title>河南郑州印刷厂_彩色印刷_名片单页海报印刷-河南盛大彩色印刷有限公司</title>
<meta name="keywords" content="盛大印刷，郑州印刷厂，盛大彩印，数码印刷，不干胶印刷，郑州名片印刷，盛大印刷厂，海报印刷，单页印刷，河南印刷厂，名片印刷">
<meta name="description" content="河南盛大彩色印刷有限公司是河南地区知名的印刷服务企业，成立于2000年。主营商务印刷（DM单页、海报、画册、手提袋等）、拼版名片、不干胶标签、骑马钉、覆膜、数码彩印为主要业务范围，面向广大广告公司、设计公司、文印店、图文店等业内同行提供服务。">
<!--网页导航图标-->
<link rel="shortcut icon" type="image/x-icon" href="../css/dacui.ico" />
<link rel="stylesheet" href="../css/global.css" />
<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/message.css" />

</head>

<body>
	<!--头部-->
	<div class="top">
		<div id="app0">
			<div class="topleft">
				<a href="index.html">
					<img src="../img/logo.png" alt="盛大印刷logo" />
				</a>
				<!--栏目列表-->
				<div class="topitem">

					<template>
						<el-button>首页</el-button>
						<el-popover placement="bottom" title="" width="930" trigger="click">
							<div class="prolist">
								<div class="prolistTitle">
									<a href="###">名片</a>
								</div>
								<a href="###">普通名片</a>
								<a href="###">精品纸名片</a>
								<a href="###">精工名片</a>
							</div>
							<div class="prolist">
								<div class="prolistTitle">
									<a href="###">名片</a>
								</div>
								<a href="###">海报招贴</a>
								<a href="###"> 产品标签</a>
								<a href="###">刮刮卡</a>
								<a href="###">楼层贴</a>
								<a href="###">光盘贴</a>
								<a href="###">特殊标签不干胶</a>
								<a href="###"> 彩色不干胶</a>

							</div>
							<div class="prolist">
								<div class="prolistTitle">
									<a href="###">名片</a>
								</div>
								<a href="###">普通名片</a>
								<a href="###">精品纸名片</a>
								<a href="###">精工名片</a>
							</div>
							<div class="prolist">
								<div class="prolistTitle">
									<a href="###">名片</a>
								</div>
								<a href="###">普通名片</a>
								<a href="###">精品纸名片</a>
								<a href="###">精工名片</a>
								<a href="###">普通名片</a>
								<a href="###">精品纸名片</a>
								<a href="###">精工名片</a>
								<a href="###">普通名片</a>
								<a href="###">精品纸名片</a>
								<a href="###">精工名片</a>
							</div>
							<div class="prolist">
								<div class="prolistTitle">
									<a href="###">名片</a>
								</div>
								<a href="###">台历 </a>
								<a href="###">挂历</a>
								<a href="###"> 红包</a>
								<a href="###">挂历</a>
								<a href="###"> 红包</a>
							</div>
							<div class="prolist">
								<div class="prolistTitle">
									<a href="###">名片</a>
								</div>
								<a href="###">台历 </a>
								<a href="###">挂历</a>
								<a href="###"> 红包</a>
								<a href="###">挂历</a>
								<a href="###"> 红包</a>
							</div>

							<div class="prolist">
								<div class="prolistTitle">
									<a href="###">名片</a>
								</div>
								<a href="###">台历 </a>
								<a href="###">挂历</a>
								<a href="###"> 红包</a>
								<a href="###">挂历</a>
								<a href="###"> 红包</a>
							</div>
							<div class="prolist">
								<div class="prolistTitle">
									<a href="###">名片</a>
								</div>
								<a href="###">普通名片</a>
								<a href="###">精品纸名片</a>
								<a href="###">精工名片</a>
							</div>
							<div class="prolist">
								<div class="prolistTitle">
									<a href="###">名片</a>
								</div>

							</div>

							<el-button slot="reference">产品展示</a>
						</el-popover>

						<el-popover placement="bottom" title="" width="470" trigger="click">
							<div class="prolist">
								<div class="prolistTitle">
									<a href="###">帮助</a>
								</div>
								<a href="###">常见问题</a>
								<a href="###">物流配送</a>
								<a href="###">下单注意事项</a>
							</div>
							<div class="prolist">
								<div class="prolistTitle">
									<a href="###">支持</a>
								</div>
								<a href="###">下载中心</a>
							</div>
							<el-button slot="reference">帮助与支持</a>
						</el-popover>

					</template>

				</div>

			</div>
			<!--右侧的登录与注册-->
			<div class="topright" style="display: none;">
				<a href="###">登录</a> <span>|</span>
				<a href="###">注册</a>
			</div>
			<div class="topright">
				<a href="###">我的订单</a>
				<a href="###">Design</a>
				<a href="###">退出</a>
			</div>

		</div>
	</div>
	<div class="peopleCenterArea">
		<!--页面导航-->
		<div class="appproduct" id="appproduct">
			<el-breadcrumb separator-class="el-icon-arrow-right">
				<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
				<el-breadcrumb-item>客户留言</el-breadcrumb-item>
			</el-breadcrumb>
		</div>
		<!--客户中心-->
		<div class="messageCenter" id='app'>
			<h3>客户留言</h3>
			<div class="leaveForm" id="app">
				<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm">

					<el-form-item label="请选择提交类型： ">
						<div>
							<el-radio-group v-model="ruleForm.radio3">
								<el-radio-button label="投诉建议1"></el-radio-button>
								<el-radio-button label="投诉建议2"></el-radio-button>
								<el-radio-button label="投诉建议3"></el-radio-button>
								<el-radio-button label="投诉建议4"></el-radio-button>
								<el-radio-button label="投诉建议"></el-radio-button>
							</el-radio-group>
						</div>

					</el-form-item>
					<el-form-item label="问题描述：" prop="desc">
						<el-input type="textarea" placeholder="请输入你对问题的描述" v-model="ruleForm.desc"></el-input>
						<!--<input placeholder="请输入你的" type="number" width="806" height="180"/>-->
					</el-form-item>

					<el-form-item label="上传图片：" prop="resource">
						<el-upload class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/" :on-change="handleChange" :file-list="ruleForm.fileList3">
							<el-button size="small" type="primary">上传附件</el-button>
							<div slot="tip" class="el-upload__tip">选择文件，允许的文件类型：png ，jpg，gif，最多3张图片，每张不超过5MB</div>
						</el-upload>
					</el-form-item>

					<el-form-item label="您的联系方式：" prop="name">
						<el-input type="text" placeholder="请输入你的" v-model="ruleForm.name"></el-input>
					</el-form-item>
					<el-form-item>
						<el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
						<!--	<el-button @click="resetForm('ruleForm')">重置</el-button>-->
					</el-form-item>
				</el-form>
			</div>

		</div>

	</div>

	<!--底部-->
	<div class="foot">
		<div class="footer">
			<div class="appfoot" id="appfoot">
				<dl>
					<dt>关于我们</dt>
					<dd>
						<a>公司简介</a>
					</dd>
					<dd>
						<a>联系我们</a>
					</dd>
					<dd>
						<a href="###">加入我们</a>
					</dd>
					<dd>
						<a>新闻公告</a>
					</dd>
				</dl>
				<dl>
					<dt>帮助与支持</dt>
					<dd>
						<a>常见问题</a>
					</dd>
					<dd>
						<a>下载中心</a>
					</dd>
					<dd>
						<a>下单注意事项</a>
					</dd>

				</dl>
				<dl>
					<dt>官方微信（可供查单、报价）</dt>
					<dd>
						<img src="../img/weChat.png" width="90px" height="90px" />
					</dd>

				</dl>
				<dl>
					<dt>客服</dt>
					<dd>
						<a>客服QQ：800011909</a>
					</dd>
					<dd>
						<span>客服热线：</span>
					</dd>
					<dd>
						<span class="telnum">400-60-36588</span>
					</dd>
				</dl>
			</div>

		</div>
		<!--底部备案-->
		<div class="copyRight">
			Copyright © 2016 - 2020 <a href="/">河南盛大彩色印刷有限公司</a> 版权所有 <a href="http://www.miitbeian.gov.cn" target="_blank">备案号：豫ICP备15032432号</a>
		</div>

	</div>

</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<!--<script type="text/javascript" src="../js/polyfill.js" ></script>-->
<script>
	//位置导航
	new Vue().$mount('#appproduct')
		//		留言页面
	var vm = new Vue({
		el: "#app",
		data:{
		
				ruleForm: {
					name: '',
					region: '',
					type: [],
					resource: '',
					desc: '',
					radio3: '上海',
					fileList3: [{
						name: 'food.jpeg',
						url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
					}, {
						name: 'food2.jpeg',
						url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
					}]
				},
				rules: {
					name: [{
						required: true,
						message: '请填写名字',
						trigger: 'blur'
					}, {
						min: 3,
						max: 5,
						message: '长度在 3 到 5 个字符',
						trigger: 'blur'
					}],
					resource: [{
						message: '请选择',
						trigger: 'change'
					}],
					desc: [{
						required: true,
						message: '请填写问题内容',
						trigger: 'blur'
					}]
				}
		
		},
		methods: {
			submitForm:function(formName) {},
				resetForm:function(formName) {
					this.$refs[formName].resetFields();
				},
				handleChange:function(file, fileList) {
					this.ruleForm.fileList3 = fileList.slice(-3);
				}
		}
	});
</script>

</html>