/*登录内容区域*/.loginbody{width: 1000px;height:530px;margin: 40px auto  60px;border: 1px solid #dddddd;}
.loginbleft{float: left;margin: 40px 26px 30px;}
.loginbright{width:350px;height:310px;float:right;margin: 100px 24px 0 0;}
.loginbright .el-tabs__item.is-active,.loginbright .el-tabs__item:hover{color: #000;font-weight: 600;}
.name{width: 328px;height:30px;border: 1px solid #DDDDDD;margin:0px auto 16px;border-radius: 4px;padding: 10px;}
.icon{width:30px;height: 30px;line-height: 30px;border-right:1px solid #e6e6e6;float: left;}
.name input{width: 268px;height: 30px; font: 14px/30px "微软雅黑";padding:0 10px;}
.remember .rebbutton{float: right;}
.rebbutton:hover{color: #fdd000;}
/*记住我*/.remember .el-checkbox__input.is-checked+.el-checkbox__label{color: #fdd000;border-color: #fdd000;}
.remember .el-checkbox__input.is-checked .el-checkbox__inner,.remember .el-checkbox__input.is-indeterminate .el-checkbox__inner{background-color: #fdd000;border-color: #fdd000;}
.remember .el-checkbox__input.is-focus .el-checkbox__inner,.remember .el-checkbox__inner:hover{border-color: #fdd000;}
.rebbutton{font: 14px/27px "微软雅黑";color: #999999;}
.loginbutton{width:350px;height: 50px;margin: 10px auto;display: block;font:18px/50px "微软雅黑";color: #333333;text-align: center;background-color: #fdd000;border-radius: 4px;}
.phonenum{width: 100%;height: auto;overflow: auto;}
.phonenum .name{width:206px !important;margin-left: 0;float: left;}
.phonenum .name input{width: 148px;}
.phonenum .el-button--warning{width: 110px;height: 50px;margin:0 6px;background:#fdd000 ;border: 0;color: #000000;}
/*注册页面*/
.regbut{width: 110px;height: 50px;display: block;float: right;text-align: center;font: 14px/50px "微软雅黑";background:#fdd000 ;border: 0;color: #000000;border-radius: 4px;}
.active{background:#CCCCCC ;}
.qqTips{width:248px;height: 50px;border: 1px solid #DDDDDD;padding: 0 50px;text-align: center;margin-bottom: 26px;}
.qqTips span{text-align: center !important; color: rgb(114, 113, 113) !important; padding: 12px 10px; font: 12px/20px 微软雅黑;}
/*登录头部*/
.loginhead{width: 1000px;height:80px;margin:30px auto 0;}
.loginhead a img{float: left;}
.loginright{float: right;font:16px/80px "微软雅黑" ;color: #666666;}
.loginright a{color:#ff5c33;}
/*登录底部*/
.loginfoot{text-align: center;color:#999999;margin: 30px auto 0;}
.loginfoot a{color:#999999;}
.loginfoot a:hover{color:#fdd000;}
.loginfoot span{margin:0 15px;}
/*底部备案*/
.copyRight{width:1200px;height:30px;margin: 20px auto;font: 16px/30px "微软雅黑"; text-align: center; color: #999999;}
.copyRight a{color: #999999;}
.copyRight a:hover{color: #FDD000;}
/*字体图标*/
@font-face{font-family: 'iconfont'; src: url('iconfont.eot'); src: url('iconfont.eot?#iefix') format('embedded-opentype'), url('iconfont.woff') format('woff'), url('iconfont.ttf') format('truetype'), url('iconfont.svg#iconfont') format('svg');}
.iconfont{color: #bdbdbd; font-family:"iconfont" !important; font-size:24px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}
/*头部*/
@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0; font-family:'微软雅黑','arial';list-style:none;}
input{outline:none;border:none; vertical-align:middle;}
img{border:none;display:block;}
ul li{list-style:none;outline: none;}
a{text-decoration: none; cursor: pointer;}
a:hover{text-decoration:none;}
table{border-collapse: collapse;}
tbody td{border: 1px solid #efefef;text-align: center;font: 16px/46px "微软雅黑";color: #3f3f3f;}
body{height:auto;min-width: 1200px;width: 100%;background: #FFFFFF;}
.comWidth{width:1200px;margin: 0 auto;}
h1, .h1, h2, .h2, h3, .h3{margin: 0;} ::-ms-clear, ::-ms-reveal{display: none;} /*分页导航*/
