.listtop{width: 1200px;height: 50px;margin: 30px auto 20px;font: 16px/40px "微软雅黑";color: #666666;border-bottom:1px solid #666666 ;}
.listtop ul li{width: 144px;height: 40px;border-right:1px solid #666666 ;float: left;text-align: center;color: #666666;}
.listtop ul li a{width: 144px;height: 50px;}
.listtop ul li:hover{color: #00a0e9;height: 48px; border-bottom: 3px solid #00a0e9;}
.listtop ul li.active{color: #00a0e9;height: 48px; border-bottom: 3px solid #00a0e9;}
/*商品列表内容*/
.form1{width: 1200px ;height: auto;overflow: hidden;margin-bottom: -100px;}
.listshop{ position: relative;width: 290px;height: 370px; display: block;  float: left; overflow: auto; margin:5px;}
.listshopname{width: 290px;height: 80px; }
.listshopname h3{font:bold 16px/30px "微软雅黑"; color: #101010;width: 290px;height: 30px;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden; text-overflow: ellipsis;}
.listshopname p{float: right;   color: #858585;font: 18px/34px "微软雅黑"; display: block;margin-right: 15px;  }
.listshopname p span{font:bold 20px/30px "微软雅黑"; color: #787878;}
.listshopname p i{  font-style: normal;  font:bold 24px/30px "微软雅黑"; color: #fe6600;}
.temai{position: absolute;top: 0; right: 40px; background:url(../img/file/backlist.png) no-repeat ;width: 56px;height: 67px; text-align: center;padding-top: 5px;}
.temai span{font:bolder  20px/26px "微软雅黑"; color: #FFFFFF;}
.listshop img:hover {background: #CBCBCB;opacity: 0.6;}
/*下单页面*/
.shopOrderList{width: 1200px; height:auto; margin-top: 40px;overflow: hidden; }
/*无法自动算价样式*/
.shopOrderListOne{width: 1200px; height:auto; margin-top: 40px;overflow: hidden; }
.lisetPrice{width: 100%;height:80px;margin-top:100px;}
.lisetPrice p{text-align: center;font: 18px/35px "微软雅黑";color: #000000;}
.lisetPrice p a{margin: 0 10px;color:#0094EC;text-decoration: underline;}
.lisetPrice p a:hover{font:bolder 20px/35px "微软雅黑";}
.postion1{display: block;  margin-left: 30px;font: 15px/20px "微软雅黑";height: 20px;min-width: 286px;height: auto; }
.postion1 span{color: #000;}
.postion1 a{color: #4f4f4f;margin: 0 10px; }
.postion1 a:hover{color:#27adf4 ;}
/*产品分类*/
.orderhide{width: 900px;height: 60px;float: right;  position: relative;}
.orderbutton{  display: block; overflow: hidden;  width: 110px;height: 30px;border: 1px solid #0094EC; color:#0094EC ;text-align: center;  }
.orderbutton h3{font: 15px/30px "微软雅黑";}
/*隐藏的产品中心栏目*/
.hard1{    position: absolute;top: 0px;right: 112px;    z-index: 0;}
.hard1 a{float: right;width: 107px;height: 30px;font: 14px/30px "微软雅黑";color: #6D6D6D;  text-align: center;border: 1px solid #88898B;background:#fff; margin: 0 2px;  }
.hard1 a:hover,.hard1 a:active{color:#0195FF; border: 1px solid #0294FF;   }
.shopAttribute{display: block;  width: 1200px;height: auto;min-height: 500px; margin-top: 50px;}
.changekey {width:820px ;padding-left: 30px;min-height:460px ;}
.changekey h3{font: 20px/50px "微软雅黑";color: #1c1c1c;}
.changekey dl{margin-top: 20px; float: left;width: 100%;}
.changekey dl dt{width: 40px;height: 30px;line-height: 20px; }
.changekey dl dt,.changekey dl dd{float: left;margin: 10px 1px;}
.changekey dl{font: 14px/30px "微软雅黑";color: #878787; text-align: center;}
.changekey dl dd{display: block;min-width:100px;width: auto;   height: 30px; background:#dddddd;padding: 0 10px;cursor:pointer;}
/*改变鼠标滑过的样式*/
.changekey dl dd.active{color:#FFFFFF;background:#27adf4 ;}
.changekey dl dd:hover{color:#FFFFFF;}
/*.changekey dl dd input{display: block;background: #ededed;  float: left;width: 90px;height: 30px;}*/
.addintstyle{float: left;width: 100%;}
.inputdiv,.inputdiv1 {float: left;min-width: 100px;width: auto;padding: 0 5px;  height: 30px;/*background: #ededed;*/margin-top: 10px;}
.inputdiv1 input{background:#ededed;width: 100px;height: 30px;text-align: center;}
.inputdiv input{float: left;  background:#ededed;width: 100px;height: 30px;text-align: center;}
.inputdiv select{background:#F2F2F2;border: 0;  width: 100px;height: 30px;font: 14px/30px "微软雅黑";color: #878787;text-align: center;}
.inputdiv select option{text-align: center;font: 14px/30px "微软雅黑";color: #878787;}

.changekey dl  span{ float: left;margin:10px ;}
/*添加样式*/
.addstyle{float: right;display: block;  width: 770px;height: auto;min-height: 50px;}
.imginput{ float: left; border:1px solid #dddddd;margin-top: 10px; height: 30px;}
.imginput i{float: left;width:40px ;height: 25px;background:#e7e7e7 ;padding-top: 5px; text-align: center;line-height:20px;}
.file,.file1{font:16px/30px "微软雅黑";height:30px; padding: 0 10px;float: left; }
.file{width:168px;color:#666666;background:#FFFFFF; }
.file1{width:auto;min-width: 200px;  background: none; border: 0;}
.file:hover{border: 0;}
/*右边立即下单*/
.changeValue{width: 260px;height: auto;min-height: 360px;}
.changeValue span{font: 14px/40px "微软雅黑";color:#606060 ;}
.changeValue p{font: 14px/30px "微软雅黑";color:#878787 ;}
.changeValue p i{font: 14px/30px "微软雅黑";color:#878787 ;font-style: normal;  }
.changeValue h2{font:bold 36px/60px "微软雅黑";color:#ff6600 ;}
.changeValue hr{margin: 5px auto 15px;margin-left: -10px;}
p.error{color: #de2827;padding-bottom: 6px;}
/*p.error .iconfont{ width: 10px; height: 10px;vertical-align: -0.05em;}*/
.changeValue a{float: left;  margin: 10px;  display: block; font: 18px/40px "微软雅黑";color: #FFFFFF;background: #ff6600;width: 110px;height: 40px;text-align: center;}

/*下单信息预览页面*/
.messageline{width: 100%;border-bottom: 1px solid #d5d5d5; height: 30px;}
/*确认订单信息*/
.ordermessage{width: 1198px;height: auto;min-height: 900px;}
.confirmOrder h3,.fileupdate h3,.addressuser h3{font: 24px/80px "微软雅黑";margin-left: 30px;}
.orderTop{width: 100%;height: 40px;padding: 0 20px; background: #f6f6f6;}
.orderTop span{font: 16px/40px "宋体";color: #555555;}
.oredemessabody{width: 100%;min-height: 126px;height:auto ;}
.orderfirst{width: 500px;height: auto;min-height: 126px;padding-left:20px ;font:16px/30px "宋体";}
.orderfirst h4,{ color: #27adf4;font:16px/30px "宋体";margin-top: 10px;}
.orderSec{width: 170px;height: 86px;padding-top:40px;padding-left: 10px;}
.orderthird{padding-top: 40px;  }
.orderthird span{color: #c12c20;}
/*订单质量*/
.orderkg{width: 1200px;height: 90px; background: #fffbf2;display: block;border: 1px solid #efe4c4;padding-left: 20px;}
.orderkg{font: 16px/90px "宋体";}
.orderkg i{font-style: normal;color: #c12c20;   }
.orderkg span{margin-right: 174px;}
.orderkg span select{width: 110px;height: 30px;padding-left: 10px;   background: #f4f4f4;color:#000000;  border: solid 1px #999;}
/*上传文件*/
.upfile{width: 100%;height: 86px;background: #f6f6f6;padding-top: 30px;padding-left: 20px;border: 1px solid #dddddd;}
.upfile span{float: left;font:16px/36px "宋体" ;}
.upfile .file1{height: 40px; margin-left: 5px;}
/*客户信息填写*/
.addform{width: 1200px;height: 200px;padding: 0 30px;font: 16px/30px "微软雅黑";}
.addformline,.addformSecline{height: 30px; margin:15px 150px 15px 0; float: left;}
.addformline{width: 340px;}
.addformline span,.addformSecline span{display: inline;float: left;}
.adFoName input,.adFoaddress input,.adFomaeeage input,.adFoaddressa input,.adFoaddressb input,.infoinput input{display: block; float:left; height: 30px;border: 1px solid #dddddd;font: 14px/30px "微软雅黑";  color: #999898;padding: 0 10px;}
.adFoName input{width: 200px;}
.addformSecline{width: 100%;}
.adFoaddress input{width: 456px;}
.adFomaeeage input{width:800px ;}
.adFoaddressa input{width:150px ;}
.adFoaddressb input{width:280px;}
.infoinput input{width: 108px;}
.infoinput span{float: left;font: 16px/30px "微软雅黑";margin: 0 5px;}
/*立即下单*/
.uporder{width: 200px;height:46px;background:#27adf4;text-align: center;margin: 0 auto;}
.uporder a{color: #FFFFFF;font: 24px/46px "微软雅黑";}
/*历史地址*/
.changadd{width: 100px;height: 30px;background: #FFAC13;text-align: center;margin: -10px 0px auto 30px;}
.changadd a{font: 16px/30px "微软雅黑";color: #FFFFFF;}
/*弹框样式*/
body{position: relative;width: 100%;height: 100%;font-family: '微软雅黑';
}
table {
    border-collapse: collapse;
    
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.closediv{display: block;margin: 5px; width: 23px;height: 20px; float: right;  cursor: pointer;/*font: 40px/40px "微软雅黑";*/
    background: url("../img/payment/close.png") -0px -0px no-repeat;   
}
.closediv:hover{
	 background: url("../img/payment/close.png") -22px -0px no-repeat;
}
.modify_address,.changepay,.changeMap{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: -100px;	
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
}
.tbl-main {	width: 100%;}
.col-man{width: 100px;}
.col-phone{width: 110px;}
.col-area{width: 300px;}
.col-address{width: 200px;}
.col-postcode{width: 120px;}
.col-actions{width: auto;}

tr.thead-tbl-address {
    border-bottom: 1px solid #e7e7e7;
    height:30px ;
}
.note{
	color: #FFFFFF;
	cursor: pointer;
}
.active .note{  
	 border: 1px solid #f60;
	 padding: 2px 5px;
    border-color: #ff3800;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ffd6cc;
    color: #f30;}
.thead-tbl-address:hover .note{
	 padding: 2px 5px;
    border-color: #ff3800;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ffd6cc;
    color: #f30;
}
.thead-tbl-address:hover{
	background: #DDDDDD;
}
.thead-tbl-grade th {
    height: 40px;
    padding: 0 5px;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background: #f2f2f2;
    text-align:left;
}
.tbl-deliver-address tr {	
    border-bottom: 1px solid #e7e7e7;
    font: 14px/20px "微软雅黑"; color: #4D4D4D;   
}
.tbl-deliver-address td {
    padding: 5px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
}
.tbl-deliver-address td a{
	color: #0094EC;
}
/*弹框确定按钮*/
.rightaddress{margin: 0 auto;width: 120px;height: 30px;border: 1px solid #0094EC;   text-align: center;/*margin-top: 5px;*/cursor: pointer;}
.rightaddress span{color: #0094EC;font: 18px/30px "微软雅黑";}
/*支付弹框选择*/
.changepays{
	width: 300px;
	height: 150px;
	/*overflow-y:auto;*/
	background: white;
	border: 3px solid #d0cfc8;
	position: fixed;
	margin-top: -100px;
	margin-left: -150px;	
	left: 50%;
	top: 50%;
	border-radius: 5px;
	box-shadow: 0 0 10px 2px #d0cfc8;
}
.changepays span{font: 14px/30px "微软雅黑";color: #414141;margin-left: 15px;}
.butpay{width: 100%;height: 100px;margin-top: 50px;padding: 0 10px;}
.butpay a{display: block;float: left;  width: 90px;height: 40px;background: #0294FF;color: #FFF9EC;font: 16px/40px "微软雅黑";text-align: center;margin: 0 2px;}

/*修改的预约表单的css*/
/*登录界面头部*/
.logintop{
	width: 1050px;
	height: 50px;
	
	margin: 40px  auto 0px; 
	padding: 30px 50px 10px;	
}
.llogo img {
	float: left;
}
.llogo span {
	float: left;
	font: bold 25px/40px "微软雅黑";
	color: #383838;
}
.logina a{
	font: 16px/45px "微软雅黑";
	color: #0094EC;
	margin: 0 15px;
}
/*修改表单*/
.changeForm{width: 100%;height: auto;min-height: 960px;border-top: 2px solid #31adf7;background-color:#f5f5f5;margin-bottom: -100px;}
.previewForm{width: 1200px;margin:40px auto 50px;height: auto;min-height: 850px;background: #FFFFFF;padding:0 30px;overflow: auto; }
.priveOrder,.priveOrder1{width: 100%;height: auto;min-height: 100px; border-bottom: 1px solid #6D6D6D;font: 14px/40px "微软雅黑";overflow: auto;  }
.priveOrder h4,.priveOrder1 h4{font:18px/100px "微软雅黑" ;}
/*.priveOrder td{text-align: center;  padding-left: 5px;}
.priveOrder td:nth-child(2) {text-align: left;padding-left: 5px;}
.priveOrder th{text-align: left;padding-left: 5px;}*/
.priveOrder td{text-align: center;  padding-left: 5px;}
.priveOrder td:nth-child(2) {text-align: left;padding-left: 5px;}
.priveOrder th{text-align: center;padding-left: 5px;}
/*表单样式*/
.proName{
	width: 214px;
	/*text-align: left;*/
	border: 0;
	/*display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 16px;*/
   font: 14px/20px "微软雅黑";   
}
.proName a{  color: #000000;  }
.conterorder {width: 110px;height: 30px;border: 1px;border: 1px solid #0094EC;text-align: center;margin: 12px 50px 20px auto;}
.conterorder {width: 110px;height: 30px;border: 1px;border: 1px solid #0094EC;text-align: center;margin: 12px 50px 20px auto;}
.conterorder a {display: block;height: 30px;font: 16px/30px "微软雅黑";   color:#0094EC;}
.addAd{float: right;color: #0094EC;font: 14px/30px "微软雅黑";margin-top: -60px;}
.clockspan{cursor: pointer;  display: block;  width:120px;height: 30px;display: block;border: 2px solid #27adf4; font: 12px/30px "微软雅黑"; position: relative;}
.priveOrder1 table{margin-bottom: 20px;}
.priveOrder1 td{padding: 0 10px;text-align: center;font: 13px/30px "微软雅黑";}
.ricon{width: 16px;height: 15px;display: none;position: absolute; right:-1px;bottom: -1px;}
.clockspan .ricon{display: block;}

.changpos{color: #0094EC;}
.changaa{display: block; margin-left: 100px;}
.changarea span,.changareac span,.adFoaddressx span{cursor:pointer;  display: block;width: 114px;height: 30px;border: 1px solid #0094EC;color: #0094EC;float: left;text-align: center;font: 16px/30px "微软雅黑";margin-left: 10px;}
.changarea span.active,.changareac span.active{background-color: #0094EC;color: #FFFFFF;}
.changarea span{margin-top: 36px;}
..adFoaddressx span{}
.upoderprive{float: right;margin-top: 40px;margin-bottom: 60px;  display: block;}
.upoderprive span{display: block;width:auto; min-width: 80px;float: left;font: 14px/50px "微软雅黑";}
.acolor{color: #EC0606;}
.upul{margin-bottom: 180px;}
.upoderpbutton{display: block;width: auto;height: auto;  margin: 50px 10px 50pxo;}
.upoderpbutton a{width: auto;height: auto; background: #0094EC;color: #FFFFFF;font: 24px/50px "微软雅黑";text-align: center;padding: 10px 30px;}
/*显示更多*/
.moreaddress{float: left;display: block;margin-top: -20px;margin-left: 154px;}
.moreaddress a{color: #0094EC;font:14px/30px "微软雅黑";}
