<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<title>河南郑州印刷厂_彩色印刷_名片单页海报印刷-河南盛大彩色印刷有限公司</title>
		<meta name="keywords" content="盛大印刷，郑州印刷厂，盛大彩印，数码印刷，不干胶印刷，郑州名片印刷，盛大印刷厂，海报印刷，单页印刷，河南印刷厂，名片印刷">
		<meta name="description" content="河南盛大彩色印刷有限公司是河南地区知名的印刷服务企业，成立于2000年。主营商务印刷（DM单页、海报、画册、手提袋等）、拼版名片、不干胶标签、骑马钉、覆膜、数码彩印为主要业务范围，面向广大广告公司、设计公司、文印店、图文店等业内同行提供服务。">
		<!--网页导航图标-->
		<link rel="shortcut icon" type="image/x-icon" href="../css/dacui.ico" />
		<link rel="stylesheet" href="../css/global.css" />
		<link rel="stylesheet" href="../css/common.css" />
		<link rel="stylesheet" href="../css/order.css" />
	</head>

	<body>
		<!--头部-->
		<div class="top">
			<div id="app0">
				<div class="topleft">
					<a href="index.html">
						<img src="../img/logo.png" alt="盛大印刷logo" />
					</a>
					<!--栏目列表-->
					<div class="topitem">

						<template>
							<el-button><a href="index.html">首页</a></el-button>
							<el-popover placement="bottom" title="" width="930" trigger="hover">
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">海报招贴</a>
									<a href="###"> 产品标签</a>
									<a href="###">刮刮卡</a>
									<a href="###">楼层贴</a>
									<a href="###">光盘贴</a>
									<a href="###">特殊标签不干胶</a>
									<a href="###"> 彩色不干胶</a>

								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">台历 </a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">台历 </a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
								</div>

								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">台历 </a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>

								</div>
								<!--点击无反应滑过显示二级菜单-->
								<el-button slot="reference"><a href="###">产品展示</a></el-button>
							</el-popover>

							<el-popover placement="bottom" title="" width="470" trigger="hover">
								<div class="prolist">
									<div class="prolistTitle">
										<!--点击分类标题不跳转页面-->
										<a href="###">帮助</a>
									</div>
									<a href="###">常见问题</a>
									<a href="###">物流配送</a>
									<a href="###">下单注意事项</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">支持</a>
									</div>
									<a href="###">下载中心</a>
								</div>
								<!--点击跳转帮助与支持页面滑过显示二级菜单-->
								<el-button slot="reference"><a href="../帮助与支持/helpSup.html">帮助与支持</a> </el-button>
							</el-popover>

						</template>

					</div>

				</div>
				<!--右侧的登录与注册-->
				<div class="topright" style="display: none;">
					<a href="###">登录</a> <span>|</span>
					<a href="###">注册</a>
				</div>
				<div class="topright">
					<a href="###">我的订单</a>
					<a href="###">Design</a>
					<a href="###">退出</a>
				</div>

			</div>
		</div>
		<div class="commonCenterArea">
			<!--广告页面-->
			<div class="advertisement">

				<div id="appbanner">
					<template>
						<el-carousel :interval="5000" arrow="never" height="90px">
							<el-carousel-item v-for="imageUrl in sites" :key="imageUrl.url">
								<img :src="imageUrl.url" />
							</el-carousel-item>
						</el-carousel>
					</template>
				</div>
			</div>
			<!--页面导航-->
			<div class="appproduct" id="appproduct">
				<el-breadcrumb separator-class="el-icon-arrow-right">
					<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
					<el-breadcrumb-item>售后服务</el-breadcrumb-item>

				</el-breadcrumb>
			</div>
			<!--客户中心-->
			<div class="commonCenter">
				<div class="centerLeft">
					<div class="appcenter" id="appcenter">
						<ul>
							<li>
								<h3>订单中心</h3></li>
							<li> <a href="###"> 全部订单</a> </li>
							<li><a href="###">代付款</a> </li>
							<li>
								<h3>售后服务</h3></li>
							<li> <a href="application.html"> 申请售后</a> </li>
							<li class="active"><a href="customerService.html">售后服务</a> </li>
						</ul>
					</div>
				</div>
				<!--内容区域-->
				<div class="centerRight">
					<h4>售后记录</h4>
					<div class="customerBody">
						<!--选择搜索条件-->
						<div class="orderif">
							<div class="orderdate" id="appgood">
								<template>
									<span class="demonstration">售后原因</span>
									<el-select v-model="value" placeholder="后工">
										<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
										</el-option>
									</el-select>
								</template>
							</div>
							<div class="orderdate" id="app">
								<template>
									<div class="block">
										<span class="demonstration">申请时间</span>
										<el-date-picker v-model="value7" type="daterange" align="right" unlink-panels range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" :picker-options="pickerOptions2">
										</el-date-picker>
									</div>
								</template>
							</div>
							<div class="orderdate addreason" id="appgood1">
								<template>
									<span class="demonstration">售后进度</span>
									<el-select v-model="value" placeholder="已完成">
										<el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
										</el-option>
									</el-select>
								</template>
							</div>
							<!--搜索框-->
							<div class="search active">
								<input type="text" placeholder="请输入产品名称或订单号" />
								<a href="###">订单搜索</a>
							</div>
						</div>
						<!--订单列表-->
						<div class="orderlist">
							<!--订单名称-->
							<table class="orderlistName">
								<colgroup>
									<col width="216">
										<col width="120">
											<col width="190">
												<col width="196">
													<col width="">
								</colgroup>
								<tbody>
									<tr>
										<th>
											<input type="checkbox" value="全选" id="sltAllInput" onchange="sltAll('sltAllInput')">产品名称</th>
										<th>产品类型 </th>
										<th>申请时间</th>
										<th>售后原因</th>
										<th>进度 </th>
									</tr>
								</tbody>
							</table>
						</div>
						<!--订单内容快-->
						<div class="orderbody">
							<!--订单详情-->
							<div class="listArea">
								<div class="listAreatitle">
									<ul>
										<li>
											<input type="checkbox" name="file" value="nameFile"><i>下单时间：</i><span>2018/10/6  11:15:24  </span>
										</li>
										<li>
											<i>订单编号：</i><span>ZS18100603029</span>
										</li>
									</ul>
								</div>
								<!--订单名称-->
								<div class="ordername">
									<ul>
										<li>
											<a href="###">229091757887698311纯手工朱启英_BG特价双1000-1</a>
										</li>
										<li>
											<span>不干胶</span>
										</li>

										<li>

											<p>2017.3.3 09:22:18</p>

										</li>
										<li>
											<p class="cusReason">后工原因</p>
										</li>

										<li>
											<a href="###" class="customhref">正在处理</a>
										</li>

									</ul>
								</div>

							</div>

							<!--分页-->
							<div id="apppage" class="apppage">
								<el-pagination background layout="prev, pager, next" :total="1000">
								</el-pagination>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>

		<!--底部-->
		<div class="foot">
			<div class="footer">
				<div class="appfoot" id="appfoot">
					<dl>
						<dt>关于我们</dt>
						<dd>
							<a>公司简介</a>
						</dd>
						<dd>
							<a>联系我们</a>
						</dd>
						<dd>
							<a href="###">加入我们</a>
						</dd>
						<dd>
							<a>新闻公告</a>
						</dd>
					</dl>
					<dl>
						<dt>帮助与支持</dt>
						<dd>
							<a>常见问题</a>
						</dd>
						<dd>
							<a>下载中心</a>
						</dd>
						<dd>
							<a>下单注意事项</a>
						</dd>

					</dl>
					<dl>
						<dt>官方微信（可供查单、报价）</dt>
						<dd>
							<img src="../img/weChat.png" width="90px" height="90px" />
						</dd>

					</dl>
					<dl>
						<dt>客服</dt>
						<dd>
							<a>客服QQ：800011909</a>
						</dd>
						<dd>
							<span>客服热线：</span>
						</dd>
						<dd>
							<span class="telnum">400-60-36588</span>
						</dd>
					</dl>
				</div>

			</div>
			<!--底部备案-->
			<div class="copyRight">
				Copyright © 2016 - 2020 <a href="/">河南盛大彩色印刷有限公司</a> 版权所有 <a href="http://www.miitbeian.gov.cn" target="_blank">备案号：豫ICP备15032432号</a>
			</div>

		</div>
		<!--ie9以下的遮罩提示框-->
		<div class="changPayArea" style="display: none;">
			<div class="payArea">
				<h3>用户体验提示</h3>
				<p><i class="iconfont">&#xe62e;</i>&nbsp;&nbsp;如果您正在使用QQ、360、百度等国产浏览器，请将浏览模式切换为极速模式（切换方法：点击地址栏右侧的<i class="iconfont">&#xe606;</i>按钮）。</p>

				<p><i class="iconfont">&#xe62e;</i>&nbsp;&nbsp;如果您正在使用IE浏览器，推荐使用谷歌Chrome或Firefox火狐浏览器！</p>
				<div class="Abutips">
					<a href="###">
						<i class="iconfont">&#xe71d;</i>
						<p>火狐</p>
					</a>
					<a href="###">
						<i class="iconfont">&#xe602;</i>
						<p>谷歌</p>
					</a>
				</div>
			</div>
		</div>

	</body>
	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script>
		//广告区域banner
		new Vue({
				el: '#appbanner',
				data: {
					sites: [{
						url: '../img/advert.png'
					}, {
						url: '../img/3.png'
					}]
				}
			})
			//产品区域
		new Vue().$mount('#appproduct')
			//分页
		new Vue().$mount('#apppage')
			//时间
		var Main = {
			data() {
				return {
					pickerOptions2: {
						shortcuts: [{
							text: '最近三天',
							onClick(picker) {
								const end = new Date();
								const start = new Date();
								start.setTime(start.getTime() - 3600 * 1000 * 24 * 3);
								picker.$emit('pick', [start, end]);
							}
						}, {
							text: '最近一周',
							onClick(picker) {
								const end = new Date();
								const start = new Date();
								start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
								picker.$emit('pick', [start, end]);
							}
						}, {
							text: '最近一月',
							onClick(picker) {
								const end = new Date();
								const start = new Date();
								start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
								picker.$emit('pick', [start, end]);
							}
						}]
					},
					value6: '',
					value7: ''
				};
			}
		};
		var Ctor = Vue.extend(Main)
		new Ctor().$mount('#app')
//		new Ctor().$mount('#app1')
			//选择原因
		var Main = {
			data() {
				return {
					options: [{
						value: '选项1',
						label: '后工'
					}, {
						value: '选项2',
						label: '漏单'
					}, {
						value: '选项3',
						label: '下错单'
					}],
					value: ''
				}
			}
		}
		var Ctor = Vue.extend(Main)
		new Ctor().$mount('#appgood')
			//			选择进度
		var Main = {
			data() {
				return {
					options: [{
						value: '选项1',
						label: '已经提交'
					}, {
						value: '选项2',
						label: '正在处理'
					}],
					value: ''
				}
			}
		}
		var Ctor = Vue.extend(Main)
		new Ctor().$mount('#appgood1')
	</script>

</html>