 .phoneLogin{display:none;}
input{font-size: 24px;}
.name,.numimg,.imgNum{margin-top:20px;height:66px;border: 1px solid #d1d1d1;}
.userimg{width: 40px;height: 66px;float: left;}
.userimg img{margin: 9px;width: 24px;height: 24px;}
.name input{width:240px;height:66px;float: left;}
.numimg{width:260px;height:66px;float: left;}
.numimg input{width:220px;padding: 0 18px;height:66px;border-radius: 5px;}
.imgNum{width:224px;float:right;border: 0;cursor: pointer;text-align: center;background:#EEEEEE;text-align: center;}
.imgNum img{width: 224px;height: 66px;}
.imgNum span{font:20px/62px "微软雅黑";}
.imgNum.active span{color: #999999;}
.registerForm .personal{margin:15px 0;overflow:hidden;font: 14px/66px "微软雅黑";color: #404040;}
.registerForm .loginForm{width: 460px;margin-left: 0;padding-bottom: 15px;}
.registerForm .numimg,.registerForm .imgNum{margin: 0 12px 10px 0;float: left;}			
.addimgCss{width:460px;height:66px;border:1px solid #dadada;float:left;padding: 0 15px;}
.addimgCss input{border: 0;width:420px;height:66px;padding: 0;}
.addimgCss i{float: right;margin:0px auto;display: none;}				
/*找回密码*/
.forpassTitl{width:100%;height:66px;background:#F6F6F6;}
.forpassTitl h3{font:500 20px/66px "微软雅黑";color: #000000;margin-left:34px;}
/*忘记密码内容表单*/
.forpassArea .registerForm{margin-left:60px;}
.forpassArea .registerForm,.forpassArea .loginForm{width:540px;height:66px;}
.forpassArea{width:600px;height: 360px;margin:50px 20px;display: none;}
.circle{margin: 0 auto;width: 50px;height: 50px;border-radius:50%;border: 1px solid #dcdcdc;background:#FFFFFF;color:#dcdcdc;text-align: center;font:23px/50px "微软雅黑";}
.forpassArea li p,.forpassArea:nth-child(4) li:last-child p{color:#dcdcdc;}
/*重设密码1选择重设方式*/
.chengestyle{width: 600px;height:80px;border: 1px solid #bbbbbb;margin:30px 0 ;}
.chengestyle a{float: right;margin:14px 46px; width: 136px;height:54px;display: block;color:#FFFFFF;background:#f9bb00;border-radius:6px;text-align: center;font: 24px/54px "微软雅黑";}
.chengestyle span{float: left;margin:26px 30px 15px 34px;font: 22px/26px "微软雅黑";}
.usertips{float: right;margin:16px 2px 0 0;font: 14px/30px "微软雅黑";}
/*邮箱验证*/
.succemail{font: 20px/24px "微软雅黑";margin-top:10px;display:none;}
.succemail i{float: left;margin: 0 10px 0 140px;color:#4CAE4C;}
.succemail a{text-decoration: underline; font-style: italic;}
#step5 .registerForm a{margin-top:40px;}
#step5 .registerForm{width: 540px;margin-left:50px;}
#step5 .addimgCss{width: 370px;}
#step5 .addimgCss input{width: 320px;}
/*第一部第一个圆*/
.forpassArea ul{width:580px;height: auto;display: block;height: 100px;margin-bottom: 64px;}
.forpassArea li:first-child .circle{background:#E5433E;border: 1px solid #E5433E;color:#FFFFFF;}
.forpassArea li:first-child p{color: #000000;}
.forpassArea li{min-width: 76px;width: auto;  height:110px;font: 14px/30px "微软雅黑";text-align: center;float: left;}
.grayLine,.forpassArea:nth-child(4) li:nth-child(6) .grayLine{border-top: 2px solid #dcdcdc;display: block; width: 70px;height: 50px;margin-top: 25px;}
.passButton{width:500px;height:66px;display: block;color:#FFFFFF;background: #f9bb00;border-radius:10px;text-align: center;margin-top: 40px;  font: 30px/66px "微软雅黑";}
/*第二步*/
.forpassArea:nth-child(3) li .circle,.forpassArea:nth-child(6) li .circle{background:#E5433E;border: 1px solid #E5433E;color:#FFFFFF;}
.forpassArea:nth-child(3) li:nth-child(3) p,.forpassArea:nth-child(6) li:nth-child(3) p{color: #000000;}
.forpassArea:nth-child(3) li:nth-child(5) .circle,.forpassArea:nth-child(3) li:nth-child(7) .circle,.forpassArea:nth-child(6) li:nth-child(5) .circle,.forpassArea:nth-child(6) li:nth-child(7) .circle{border: 1px solid #dcdcdc;background:#FFFFFF;color:#dcdcdc;}
.forpassArea:nth-child(3) .grayLine,.forpassArea:nth-child(6) .grayLine{border-top: 2px solid #E5433E;}
.forpassArea:nth-child(3) li:nth-child(4) .grayLine,.forpassArea:nth-child(3) li:nth-child(6) .grayLine,.forpassArea:nth-child(6) li:nth-child(4) .grayLine,.forpassArea:nth-child(6) li:nth-child(6) .grayLine{border-top: 2px solid #dcdcdc;}
/*忘记密码第3布*/
.forpassArea:nth-child(4) li .circle{background:#E5433E;border: 1px solid #E5433E;color:#FFFFFF;}
.forpassArea:nth-child(4) li:nth-child(7) .circle{border: 1px solid #dcdcdc;background:#FFFFFF;color:#dcdcdc;}
.forpassArea:nth-child(4) .grayLine{border-top: 2px solid #E5433E;}
.forpassArea:nth-child(4) li:nth-child(6) .grayLine{border-top: 2px solid #dcdcdc;}
/*忘记密码第4布*/
.forpassArea:nth-child(5) li .circle{background:#E5433E;border: 1px solid #E5433E;color:#FFFFFF;}
.forpassArea:nth-child(5) li p,.forpassArea:nth-child(4) li p{color:#000000;}
.forpassArea:nth-child(5) .grayLine{border-top: 2px solid #E5433E;}
/*完成修改密码提示*/
.passFinish{width:420px;height: 120px;margin:0px auto;padding-top: 50px;   font: 16px/30px "微软雅黑";}
.passFinish span i{display: block;color: #4CAE4C;float: left;width: 50px; }
.passFinish span font{color: #E5433E;margin: 0 3px;font-size: 18px;}
.passFinish a,.passFinish span{float:left;}
.passFinish a{color:#1c8bc6;margin:2px 3px;}
@media screen and (max-width: 350px) {
	.forpassArea ul {padding: 0;}
	.forpassArea li {min-width: 50px;}
	.grayLine,.forpassArea:nth-child(4) li:nth-child(6) .grayLine{width:78px;}
	.registerForm .personal label, .registerForm .loginForm label {   width: 140px;}
	.passFinish {width: 476px;}
  	#step5 .registerForm {width: 560px;}
  .chengestyle span { margin-right: 0; } 
}



