<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<!-- import CSS -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="css/index.css" />
	</head>

	<body>
		<!--默认按钮-->
		<h3>默认不可点击按钮</h3>
		<div id="app0">
			<el-row>
				<el-button disabled>默认按钮</el-button>
				<el-button type="primary" disabled>主要按钮</el-button>
				<el-button type="success" disabled>成功按钮</el-button>
				<el-button type="info" disabled>信息按钮</el-button>
				<el-button type="warning" disabled>警告按钮</el-button>
				<el-button type="danger" disabled>危险按钮</el-button>
			</el-row>

			<el-row>
				<el-button plain disabled>朴素按钮</el-button>
				<el-button type="primary" plain disabled>主要按钮</el-button>
				<el-button type="success" plain disabled>成功按钮</el-button>
				<el-button type="info" plain disabled>信息按钮</el-button>
				<el-button type="warning" plain disabled>警告按钮</el-button>
				<el-button type="danger" plain disabled>危险按钮</el-button>
			</el-row>
		</div>
		<!--内置过渡按钮-->
		<h3>内置过渡按钮</h3>
		<div id="app1">
			<el-button @click="visible = true">Button</el-button>
			<el-dialog :visible.sync="visible" title="Hello world">
				<p>Try Element</p>
			</el-dialog>
		</div>
		<!--按钮-->
		<h3>按钮</h3>
		<div id="app2">
			<el-row>
				<el-button>默认按钮</el-button>
				<el-button type="primary">主要按钮</el-button>
				<el-button type="success">成功按钮</el-button>
				<el-button type="info">信息按钮</el-button>
				<el-button type="warning">警告按钮</el-button>
				<el-button type="danger">危险按钮</el-button>
			</el-row>

			<el-row>
				<el-button plain>朴素按钮</el-button>
				<el-button type="primary" plain>主要按钮</el-button>
				<el-button type="success" plain>成功按钮</el-button>
				<el-button type="info" plain>信息按钮</el-button>
				<el-button type="warning" plain>警告按钮</el-button>
				<el-button type="danger" plain>危险按钮</el-button>
			</el-row>

			<el-row>
				<el-button round>圆角按钮</el-button>
				<el-button type="primary" round>主要按钮</el-button>
				<el-button type="success" round>成功按钮</el-button>
				<el-button type="info" round>信息按钮</el-button>
				<el-button type="warning" round>警告按钮</el-button>
				<el-button type="danger" round>危险按钮</el-button>
			</el-row>

			<el-row>
				<el-button icon="el-icon-search" circle></el-button>
				<el-button type="primary" icon="el-icon-edit" circle></el-button>
				<el-button type="success" icon="el-icon-check" circle></el-button>
				<el-button type="info" icon="el-icon-message" circle></el-button>
				<el-button type="warning" icon="el-icon-star-off" circle></el-button>
				<el-button type="danger" icon="el-icon-delete" circle></el-button>
			</el-row>
		</div>
		<!--输入框-->
		<h3>输入框</h3>
		<div id="app3">
			<el-input v-model="input" placeholder="请输入内容"></el-input>
		</div>
		<!--图标-->
		<h3>图标</h3>
		<div id="app4">
			<i class="el-icon-edit"></i>
			<i class="el-icon-share"></i>
			<i class="el-icon-delete"></i>
			<i class="el-icon-success"></i>
			<el-button type="primary" icon="el-icon-search">搜索</el-button>
		</div>
		<!--上传文件-->
		<h3>上传文件</h3>
		<div id="app5">
			<el-upload class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/" :on-preview="handlePreview" :on-remove="handleRemove" :before-remove="beforeRemove" multiple :limit="3" :on-exceed="handleExceed" :file-list="fileList">
				<el-button size="small" type="primary">点击上传</el-button>
				<div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
			</el-upload>
		</div>
		<!--单选框-->
		<h3>单选框</h3>
		<div id="app6">
			<template>
				<el-radio v-model="radio" label="1">备选项</el-radio>
				<el-radio v-model="radio" label="2">备选项</el-radio>
				<el-radio v-model="radio" label="3">备选项</el-radio>
			</template>
		</div>
		<!--布局容器-->
		<h3>布局容器</h3>
		<div id="app7">
			<el-container>
				<el-header>Header</el-header>
				<el-main>Main</el-main>
			</el-container>

			<!--<el-container>
				<el-header>Header</el-header>
				<el-main>Main</el-main>
				<el-footer>Footer</el-footer>
			</el-container>

			<el-container>
				<el-aside width="200px">Aside</el-aside>
				<el-main>Main</el-main>
			</el-container>

			<el-container>
				<el-header>Header</el-header>
				<el-container>
					<el-aside width="200px">Aside</el-aside>
					<el-main>Main</el-main>
				</el-container>
			</el-container>

			<el-container>
				<el-header>Header</el-header>
				<el-container>
					<el-aside width="200px">Aside</el-aside>
					<el-container>
						<el-main>Main</el-main>
						<el-footer>Footer</el-footer>
					</el-container>
				</el-container>
			</el-container>

			<el-container>
				<el-aside width="200px">Aside</el-aside>
				<el-container>
					<el-header>Header</el-header>
					<el-main>Main</el-main>
				</el-container>
			</el-container>

			<el-container>
				<el-aside width="200px">Aside</el-aside>
				<el-container>
					<el-header>Header</el-header>
					<el-main>Main</el-main>
					<el-footer>Footer</el-footer>
				</el-container>
			</el-container>-->
		</div>
		<!--星级评价-->
		<h3>星级评价</h3>
		<div id="app8">
			<div class="block">
				<span class="demonstration">默认不区分颜色</span>
				<el-rate v-model="value1"></el-rate>
			</div>
			<div class="block">
				<span class="demonstration">区分颜色</span>
				<el-rate v-model="value2" :colors="['#99A9BF', '#F7BA2A', '#FF9900']">
				</el-rate>
			</div>
			<div class="block">
				<span class="demonstration">提示文字</span>
				<el-rate v-model="value3" show-text :colors="['#99A9BF', '#F7BA2A', '#FF9900']">
				</el-rate>
			</div>
		</div>
	</body>
	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script>
		//	<!--星级评价-->
		var Main = {
			data() {
				return {
					value1: null,
					value2: null,
					value3: null
				}
			}
		}
		var Ctor = Vue.extend(Main)
		new Ctor().$mount('#app8')
			//布局容器
		new Vue().$mount('#app7')
			//单选框
		var Main = {
			data() {
				return {
					radio: '1'
				};
			}
		}
		var Ctor = Vue.extend(Main)
		new Ctor().$mount('#app6')
			//默认按钮
		new Vue().$mount('#app0')
			//			<!--内置过度按钮-->
		new Vue({
				el: '#app1',
				data: function() {
					return {
						visible: false
					}
				}
			})
			//普通按钮
		new Vue().$mount('#app2')
		var Main = {
				data() {
					return {
						input: ''
					}
				}
			}
			//输入框
		var Ctor = Vue.extend(Main)
		new Ctor().$mount('#app3')
			//图标
		new Vue().$mount('#app4')
			//上传文件
		var Main = {
			data() {
					return {
						fileList: [{
							name: 'food.jpeg',
							url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
						}, {
							name: 'food2.jpeg',
							url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
						}]
					};
				},
				methods: {
					handleRemove(file, fileList) {
							console.log(file, fileList);
						},
						handlePreview(file) {
							console.log(file);
						},
						handleExceed(files, fileList) {
							this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
						},
						beforeRemove(file, fileList) {
							return this.$confirm(`确定移除 ${ file.name }？`);
						}
				}
		}
		var Ctor = Vue.extend(Main)
		new Ctor().$mount('#app5')
	</script>

</html>