<!DOCTYPE html>
<html>

	<meta charset="utf-8">
	<title>河南郑州印刷厂_彩色印刷_名片单页海报印刷-河南盛大彩色印刷有限公司</title>
	<meta name="keywords" content="盛大印刷，郑州印刷厂，盛大彩印，数码印刷，不干胶印刷，郑州名片印刷，盛大印刷厂，海报印刷，单页印刷，河南印刷厂，名片印刷">
	<meta name="description" content="河南盛大彩色印刷有限公司是河南地区知名的印刷服务企业，成立于2000年。主营商务印刷（DM单页、海报、画册、手提袋等）、拼版名片、不干胶标签、骑马钉、覆膜、数码彩印为主要业务范围，面向广大广告公司、设计公司、文印店、图文店等业内同行提供服务。">
	<!--网页导航图标-->
	<link rel="shortcut icon" type="image/x-icon" href="../css/dacui.ico" />
	<link rel="stylesheet" href="../css/global.css" />
	<link rel="stylesheet" href="../css/common.css" />
	<link rel="stylesheet" href="../css/cart.css" />

	</head>

	<body>
		<!--头部-->
		<div class="top">
			<div id="app0">
				<div class="topleft">
					<a href="index.html">
						<img src="../img/logo.png" alt="盛大印刷logo" />
					</a>
					<!--栏目列表-->
					<div class="topitem">

						<template>
							<el-button>首页</el-button>
							<el-popover placement="bottom" title="" width="930" trigger="click">
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">海报招贴</a>
									<a href="###"> 产品标签</a>
									<a href="###">刮刮卡</a>
									<a href="###">楼层贴</a>
									<a href="###">光盘贴</a>
									<a href="###">特殊标签不干胶</a>
									<a href="###"> 彩色不干胶</a>

								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">台历 </a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">台历 </a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
								</div>

								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">台历 </a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
									<a href="###">挂历</a>
									<a href="###"> 红包</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>
									<a href="###">普通名片</a>
									<a href="###">精品纸名片</a>
									<a href="###">精工名片</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">名片</a>
									</div>

								</div>

								<el-button slot="reference">产品展示</a>
							</el-popover>
							<el-popover placement="bottom" title="" width="470" trigger="hover">
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">通版/样品</a>
									</div>
									<a href="###">通版新品</a>
									<a href="###">样品</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">喷画</a>
									</div>
									<a href="###">旗帜</a>
									<a href="###">喷绘</a>
									<a href="###">户内写真</a>
									<a href="###">户外写真</a>
									<a href="###">户外精喷</a>
									<a href="###">UV卷材写真</a>
									<a href="###">展架</a>
									<a href="###">展板</a>
								</div>
								<el-button slot="reference">快捷下单</a>
							</el-popover>

							<el-popover placement="bottom" title="" width="470" trigger="click">
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">帮助</a>
									</div>
									<a href="###">常见问题</a>
									<a href="###">物流配送</a>
									<a href="###">下单注意事项</a>
								</div>
								<div class="prolist">
									<div class="prolistTitle">
										<a href="###">支持</a>
									</div>
									<a href="###">下载中心</a>
								</div>
								<el-button slot="reference">帮助与支持</a>
							</el-popover>

						</template>

					</div>

				</div>
				<!--右侧的登录与注册-->
				<div class="topright" style="display: none;">
					<a href="###">登录</a> <span>|</span>
					<a href="###">注册</a>
				</div>
				<div class="topright">
					<a href="###">我的订单</a>
					<a href="###">Design</a>
					<a href="###">退出</a>
				</div>

			</div>
		</div>
		<div class="commonCenterArea">
			<!--下单快捷-->
			<div class="carAreabody">
				<!--进度条展示-->
				<div id="step2" class="forpassArea">
					<ul>
						<li>
							<div>
								<i class="iconfont">&#xe681;</i>
							</div>

							<p>报价下单</p>
						</li>
						<li>
							<div class="grayLine"></div>
						</li>
						<li>
							<i class="iconfont">&#xe60a;</i>
							<p>确认印品</p>
						</li>
						<li>
							<div class="grayLine"></div>
						</li>
						<li>
							<i class="iconfont">&#xe615;</i>
							<p>提交成功</p>
						</li>
					</ul>
				</div>

				<!--标题-->
				<div id="app">
					<!--收货人信息-->
					<div class="publicModule">
						<h5>1.印品清单</h5>
						<!--已有收货信息-->
						<div class="publicKeyModule">
							<table class="orderAderss">
								<colgroup>
									<col width="130">
										<col width="100">
											<col width="120">
												<col width="90">
													<col width="90">
														<col width="210">
								</colgroup>
								<thead>
									<tr>
										<th>序号</th>
										<th>材 料</th>
										<th>尺寸（M）</th>
										<th>数量</th>
										<th>款数</th>
										<th>工艺</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td>双透彩旗</td>
										<td>30*40</td>
										<td>2000</td>
										<td>3</td>
										<td>缝筒，裁切</td>
									</tr>
									<tr>
										<td>1</td>
										<td>双透彩旗</td>
										<td>30*40</td>
										<td>2000</td>
										<td>3</td>
										<td>缝筒，裁切</td>
									</tr>
									<tr>
										<td colspan="6">合计：<i class="red">￥10.00</i></td>
									</tr>
								</tbody>
							</table>
							<!--tips-->
							<div class="wordtips">
								<i class="iconfont">&#xe635;</i>
								<span>若不需要添加印品的话直接点“确认印品”即为下单成功</span>
							</div>
						</div>

					</div>

					<!--选择规格参数-->
					<div class="publicModule">
						<h5>2.选择印品规格参数</h5>
						<div class="publicKeyModule">

							<el-radio-group v-model="radio1">
								<el-radio-button label="旗帜"></el-radio-button>
								<el-radio-button label="喷绘"></el-radio-button>
								<el-radio-button label="户内写真"></el-radio-button>
								<el-radio-button label="户外写真"></el-radio-button>
								<el-radio-button label="户外精喷"></el-radio-button>
								<el-radio-button label="UV卷材写真"></el-radio-button>
								<el-radio-button label="展架"></el-radio-button>
								<el-radio-button label="展板真"></el-radio-button>
							</el-radio-group>

						</div>

						<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">

							<el-form-item label="材料" prop="region" required>
								<el-select v-model="ruleForm.region" placeholder="请选择活动区域">
									<el-option label="双透彩旗" value="shuangtou"></el-option>
									<el-option label="段公布" value="duangongbu"></el-option>
								</el-select>
							</el-form-item>

							<el-form-item label="尺寸(米)" prop="name" required>
								<el-row>
									<el-col :span="2">
										<el-input v-model="ruleForm.name" placeholder="长边"></el-input>
									</el-col>
									<el-col :span="1" style="text-align: center;"><i class="el-icon-close"></i> </el-col>
									<el-col :span="2">
										<el-input v-model="ruleForm.name" placeholder="宽边"></el-input>
									</el-col>
									<el-col :span="1" style="text-align: center;"><i class="el-icon-close"></i> </el-col>
									<el-col :span="2">
										<el-input v-model="ruleForm.name" placeholder="高"></el-input>
									</el-col>
								</el-row>

							</el-form-item>
							<el-form-item label="数量 " prop="name" required>
								<el-col :span="5">
									<el-input v-model="ruleForm.name" placeholder="请输入数量"></el-input>
								</el-col>
							</el-form-item>
							<el-form-item label="款数" prop="name" required>
								<el-col :span="5">
									<el-input v-model="ruleForm.name" placeholder="请输入款数"></el-input>
								</el-col>
							</el-form-item>

							<el-form-item label="工艺" prop="type">
								<el-form-item__content v-model="ruleForm.type">
									<el-checkbox label="缝筒" name="type"></el-checkbox>
									<el-checkbox label="裁净边" name="type1">裁净边</el-checkbox>
									<div class="payOpen el-checkbox">
										<el-checkbox label="加边条" name="type2"></el-checkbox>
										<el-select v-model="ruleForm.region" placeholder="请选择活动区域" size="small">
											<el-option label="双透彩旗" value="shuangtou1"></el-option>
											<el-option label="段公布" value="duangongbu3"></el-option>
										</el-select>
										<el-select v-model="ruleForm.region" placeholder="请选择活动区域" size="small">
											<el-option label="双透彩旗" value="shuangtou2"></el-option>
											<el-option label="段公布" value="duangongbu4"></el-option>
										</el-select>
										<el-input v-model="ruleForm.name" placeholder="宽边" size="small"></el-input>
										<el-input v-model="ruleForm.name" placeholder="宽边" size="small"></el-input>
									</div>
									<div class="payOpen el-checkbox">
										<el-checkbox label="单纯品牌曝光" name="type"></el-checkbox>
										<el-input v-model="ruleForm.name" placeholder="宽边" size="small"></el-input>
										<el-input v-model="ruleForm.name" placeholder="宽边" size="small"></el-input>
									</div>
									<div class="payOpen el-checkbox">
										<el-checkbox label="单纯品牌曝光" name="type"></el-checkbox>
									</div>
									<el-checkbox label="单纯" name="type" disabled></el-checkbox>
									<el-checkbox label="单纯光" name="type"></el-checkbox>
									<el-checkbox label="单纯1" name="type" disabled></el-checkbox>
									<el-checkbox label="单纯光2" name="type"></el-checkbox>
									<el-checkbox label="单纯3" name="type" disabled></el-checkbox>
									<div class="payOpen el-checkbox">
										<el-checkbox label="单纯光4" name="type"></el-checkbox>
										<el-input v-model="ruleForm.name" placeholder="宽边" size="small"></el-input>
										<el-input v-model="ruleForm.name" placeholder="宽边" size="small"></el-input>
									</div>

								</el-form-item__content>
							</el-form-item>
							<el-form-item label="价格" prop="name">
								<span class="orderprice">¥359.00</span>
							</el-form-item>

						</el-form>
						<div class="subButton">
							<el-button type="primary" @click="submitForm('ruleForm')">立即算价</el-button>
							<el-button @click="resetForm('ruleForm')">重置</el-button>
						</div>
					</div>
					<!--上传印品文件-->
					<div class="publicModule">
						<h5>3.上传印品文件</h5>
						<!--上传-->
						<div class="publicKeyModule active">
							<div class="upProductfile">
								<el-upload class="upload-demo" action="https://jsonplaceholder.typicode.com/posts/" :on-change="handleChange" :file-list="fileList3">
									
									<el-popover placement="top-start" title="" width="500" trigger="hover">
										<div class="tipsColor">
											<p> 注意事项:</p>
											<span>										
											1：CDR文件文件必须转曲线，色值设计cmyk色值；有效内容距成品线至少两毫米。
											<br /> 2：JPG格式文件：文件色值要求cmyk，分辨率三百以上,有效内容距成品线至少两毫米。
											<br /> 3.提供文件图片尺寸大小要和报价下单页面所填写尺寸保持一致。
											<br /> 4.想替换文件，订单审核前，可以在“我的订单-其他订单”页面重新替换上传文件。订单审核后，请单独联系接单员。
											<br /> 5.为确保能顺利上传文件，请使用谷歌、火狐、360和ie9以上浏览器
											<br />
											</span>											
										</div>										
										<el-button  slot="reference" size="small" type="primary">点击上传</el-button>		
							</el-popover>
									<!--<div slot="tip" class="el-upload__tip">只能上传jpg,jpeg,cdr,tif,ai,pdf 文件，且不超过50M</div>-->
								</el-upload>

							</div>
							
						</div>
	<el-input size="small" placeholder="请输入详细订单名称" v-model="input10" class="addinputname" clearable></el-input>
		<el-autocomplete v-model="state4" :fetch-suggestions="querySearchAsync" placeholder="请输入内容" @select="handleSelect"></el-autocomplete>
					</div>
					<!--提交-->
					<div class="subButton">
						<el-button type="primary" @click="submitForm('ruleForm')">添加印品+</el-button>
						<el-button  @click="resetForm('ruleForm')">提交</el-button>
					</div>

				</div>

			</div>

		</div>

		<!--底部-->
		<div class="foot">
			<div class="footer">
				<div class="appfoot" id="appfoot">
					<dl>
						<dt>关于我们</dt>
						<dd>
							<a>公司简介</a>
						</dd>
						<dd>
							<a>联系我们</a>
						</dd>
						<dd>
							<a href="###">加入我们</a>
						</dd>
						<dd>
							<a>新闻公告</a>
						</dd>
					</dl>
					<dl>
						<dt>帮助与支持</dt>
						<dd>
							<a>常见问题</a>
						</dd>
						<dd>
							<a>下载中心</a>
						</dd>
						<dd>
							<a>下单注意事项</a>
						</dd>

					</dl>
					<dl>
						<dt>官方微信（可供查单、报价）</dt>
						<dd>
							<img src="../img/weChat.png" width="90px" height="90px" />
						</dd>

					</dl>
					<!--<dl>
						<dt>客服</dt>
						<dd>
							<a>客服QQ：800011909</a>
						</dd>
						<dd>
							<span>客服热线：</span>
						</dd>
						<dd>
							<span class="telnum">400-60-36588</span>
						</dd>
					</dl>-->
				</div>

			</div>
			<!--底部备案-->
			<div class="copyRight">
				Copyright © 2016 - 2020 <a href="/">河南盛大彩色印刷有限公司</a> 版权所有 <a href="http://www.miitbeian.gov.cn" target="_blank">备案号：豫ICP备15032432号</a>
			</div>

		</div>

	</body>
	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<!--<script type="text/javascript" src="../js/common.js"></script>-->
	<!--<script type="text/javascript" src="../js/polyfill.js" ></script>-->
	<script>
		var Main = {
			data() {
					return {
						ruleForm: {
							name: '',
							region: '',
							date1: '',
							date2: '',
							delivery: false,
							type: [],
							resource: '',
							desc: ''
						},
						options1: [{
							value: '选项1',
							label: '中通'
						}, {
							value: '选项2',
							label: '顺丰'
						}, {
							value: '选项3',
							label: '韵达'
						}],
						radio1: '旗帜',
						value: '',
						input10: '',
						options: [{
							label: '江苏',
							cities: []
						}, {
							label: '浙江',
							cities: []
						}],
						props: {
							value: 'label',
							children: 'cities'
						}
					};
				},
				methods: {
					handleItemChange(val) {
							console.log('active item:', val);
							setTimeout(_ => {
								if (val.indexOf('江苏') > -1 && !this.options[0].cities.length) {
									this.options[0].cities = [{
										label: '南京'
									}];
								} else if (val.indexOf('浙江') > -1 && !this.options[1].cities.length) {
									this.options[1].cities = [{
										label: '杭州'
									}];
								}
							}, 300);
						},
						submitForm(formName) {
							this.$refs[formName].validate((valid) => {
								if (valid) {
									alert('submit!');
								} else {
									console.log('error submit!!');
									return false;
								}
							});
						},
						resetForm(formName) {
							this.$refs[formName].resetFields();
						}
				}
		};
		var Ctor = Vue.extend(Main)
		new Ctor().$mount('#app')
	</script>

</html>